@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
body {
  font-family: "Noto Sans JP", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-content {
  display: block;
}

.header {
  padding: 32px 0px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #FFFFFF;
}
.header .container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  row-gap: 30px;
}
.header .above {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .above .logo img {
  max-width: 260px;
}
.header .above .width768 {
  display: none;
}
.header .above .contact1 {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.header .above .contact1 img {
  width: 40px;
  height: 40px;
  transform: translateY(5px);
}
.header .above .contact1 span {
  font-size: 3rem;
  font-weight: 700;
  color: #f67600;
}
.header .above .contact1 p {
  font-size: 1.1rem;
  color: #000000;
}
.header .nav {
  max-width: 1360px;
  display: inline-block;
  margin: 0 auto;
}
.header .nav .cont768 {
  display: none;
  width: 90%;
  position: relative;
  margin: auto;
  padding-top: 50px;
}
.header .nav .cont768 .cont768__org {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f67600;
  color: #FFFFFF;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 10px;
  margin-bottom: 20px;
  gap: 60px;
}
.header .nav .cont768 .cont768__org .child1 img {
  opacity: 0;
}
.header .nav .cont768 .cont768__org .child2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
}
.header .nav .cont768 .cont768__red {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #DD1D1D;
  color: #FFFFFF;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 10px;
  gap: 60px;
}
.header .nav .cont768 .cont768__red .child1 img {
  opacity: 0;
}
.header .nav .cont768 .cont768__red .child2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
}
.header .nav .menu-list {
  display: flex;
  gap: 35px;
  list-style: none;
}
.header .nav .menu-list li {
  padding: 0px 5px;
}
.header .nav .menu-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.header .nav .menu-list a:hover {
  opacity: 75%;
}

.banner {
  width: 100%;
  max-width: 1360px;
  height: 300px;
  margin: auto;
  background-image: url("../img/pic_banner.png");
  border-radius: 20px;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 0;
}
.banner p {
  color: #FFFFFF;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
}
.banner span {
  color: orange;
  font-size: 25px;
  font-weight: 600;
  font-family: "Oswald", sans-serif;
}

.link {
  display: flex;
  width: 100%;
  max-width: 1120px;
  margin: auto;
  padding: 20px 0 40px 0;
}
.link span a {
  text-decoration: none;
  color: #f67600;
}
.link a {
  text-decoration: none;
  color: #606060;
}

.main {
  width: 100%;
  max-width: 1120px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-bottom: 120px;
}
.main .s1 {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main .s1 h1 {
  position: relative;
  color: #F67600;
  text-align: center;
  padding-bottom: 20px;
}
.main .s1 h1::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  background-color: #F67600;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main .s1 p {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 28.8px;
}
.main .s2 {
  max-width: 1120px;
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  row-gap: 56px;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
.main .s2 .card {
  background-color: #FEF8E9;
  border-radius: 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 32px 32px 32px;
}
.main .s2 .card .num {
  position: absolute;
  left: 40%;
  transform: translateY(-70px);
}
.main .s2 .card .num span {
  color: #F67600;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -45%);
  font-size: 28px;
  font-weight: 800;
  font-family: "Oswald", sans-serif;
}
.main .s2 .card .text {
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}
.main .s2 .card .text span {
  color: #F67600;
}
.main .s2 .card .pic {
  margin: auto;
}
.main .s3 {
  display: flex;
  text-align: center;
  margin: auto;
  gap: 48px;
}
.main .s3 .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.main .s3 .center .title {
  font-weight: 700;
  font-size: 32px;
}
.main .s3 .center .title .pic768_none {
  display: none;
}
.main .s3 .center .title .gr {
  display: inline-block;
}
.main .s3 .center .title .gr span {
  color: #F67600;
}
.main .s3 .center .text1 {
  font-weight: 400;
  font-size: 15px;
}
.main .s3 .center .text2 {
  font-weight: 700;
  font-size: 16px;
}
.main .s4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 40px;
}
.main .s4 .item {
  border: 4px solid #F67600;
  border-radius: 16px;
}
.main .s4 .item .s4__title {
  padding: 16px 48px;
  background-color: #F67600;
  border-radius: 10px 10px 0 0;
  border: 4px solid #F67600;
  display: flex;
  justify-content: center;
  gap: 16px;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
}
.main .s4 .item .s4__title .icon {
  position: relative;
  transform: translateY(-20px);
}
.main .s4 .item .s4__title .icon .num {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-weight: 500;
  transform: translateY(50px);
  color: #F67600;
}
.main .s4 .item .s4__title .text_gr span {
  font-size: 16px;
  font-weight: 700;
}
.main .s4 .item .s4__title .text_gr p {
  font-size: 32px;
  font-weight: 700;
}
.main .s4 .item .s4__content {
  display: flex;
  flex-direction: column;
  padding: 48px;
  gap: 32px;
}
.main .s4 .item .s4__content .content {
  display: flex;
  gap: 40px;
}
.main .s4 .item .s4__content .content .group {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.main .s4 .item .s4__content .content .group .logo {
  display: flex;
  gap: 24px;
  align-items: center;
}
.main .s4 .item .s4__content .content .group .logo .gr_title1 .above_txt {
  display: flex;
  align-items: baseline;
  font-size: 20px;
  font-weight: 700;
}
.main .s4 .item .s4__content .content .group .logo .gr_title1 .above_txt p {
  font-size: 36px;
  font-weight: 700;
  position: relative;
}
.main .s4 .item .s4__content .content .group .logo .gr_title1 .above_txt p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 12px;
  background-color: #FFDD55;
  z-index: -1;
}
.main .s4 .item .s4__content .content .group .logo .gr_title1 span {
  color: #606060;
  font-size: 13px;
  font-weight: 400;
}
.main .s4 .item .s4__content .content .group .logo .gr_title2 {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.8rem;
  -moz-column-gap: 2.4rem;
       column-gap: 2.4rem;
}
.main .s4 .item .s4__content .content .group .logo .gr_title2 p {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  position: relative;
}
.main .s4 .item .s4__content .content .group .logo .gr_title2 p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 12px;
  background-color: #FFDD55;
  z-index: -1;
}
.main .s4 .item .s4__content .content .group .logo .gr_title2 p:first-of-type {
  margin-right: 60px;
}
.main .s4 .item .s4__content .content .group .logo .gr_title2 p span {
  display: flex;
  transform: translateY(-7px);
  color: #F67600;
}
.main .s4 .item .s4__content .content .group .logo .gr_title3 {
  display: flex;
  gap: 24px;
}
.main .s4 .item .s4__content .content .group .logo .gr_title3 span {
  font-size: 15px;
  font-weight: 700;
  color: #F67600;
}
.main .s4 .item .s4__content .content .group .logo .gr_title3 p {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  position: relative;
}
.main .s4 .item .s4__content .content .group .logo .gr_title3 p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 12px;
  background-color: #FFDD55;
  z-index: -1;
}
.main .s4 .item .s4__content .content .group .logo .gr_title3 p span {
  display: flex;
  font-size: 20px;
  font-weight: 700;
  transform: translateY(-7px);
  color: #F67600;
}
.main .s4 .item .s4__content .content .group .gr_txt {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.main .s4 .item .s4__content .content .group .gr_txt span {
  color: #F67600;
}
.main .s4 .item .s4__content .btn {
  display: flex;
  display: inline-flex;
  margin: auto;
  justify-content: center;
  text-decoration: none;
  gap: 8px;
  border: 1px solid #000000;
  border-radius: 99px;
  padding: 24px 64px 24px 48px;
}
.main .s4 .item .s4__content .btn .txt {
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.main .s4 .item .s4__content .btn .next0 {
  visibility: hidden;
}

.contact {
  padding: 60px 0;
  gap: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/back_cont.png");
}
.contact .cont-d1 {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.contact .cont-d1 .group-1, .contact .cont-d1 .group-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact .cont-d1 input {
  background-color: #FFFFFF;
  height: 50px;
  font-size: 1.5rem;
  color: #000000;
  font-weight: 900;
  border-radius: 10px;
  padding: 15px 20px;
  line-height: 20px;
  border: #FFFFFF;
}
.contact .cont-d1 p {
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: bold;
}
.contact .cont-d2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #FFFFFF;
  text-decoration: none;
}
.contact .cont-d2 span {
  font-size: 3.5rem;
  font-weight: 700;
}
.contact .cont-d2 p {
  transform: translateY(-20px);
}
.contact .cont-d3 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 20px;
}
.contact .cont-d3 .cont-d3__org {
  width: 453px;
  display: flex;
  justify-content: space-between;
  background-color: #f67600;
  color: #FFFFFF;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 10px;
  gap: 60px;
}
.contact .cont-d3 .cont-d3__org .child1 img {
  opacity: 0;
}
.contact .cont-d3 .cont-d3__org .child2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
}
.contact .cont-d3 .cont-d3__red {
  width: 453px;
  display: flex;
  justify-content: space-between;
  background-color: #DD1D1D;
  color: #FFFFFF;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 10px;
  gap: 60px;
}
.contact .cont-d3 .cont-d3__red .child1 img {
  opacity: 0;
}
.contact .cont-d3 .cont-d3__red .child2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
}

footer {
  background-color: #2C2C2C;
  color: #FFFFFF;
  padding: 20px 0;
  text-align: center;
  line-height: 2rem;
  margin: 0 auto;
}
footer .footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
footer .footer-img img {
  max-width: 358px;
  height: 47px;
  margin: 30px;
}
footer span {
  color: #f67600;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}
footer span .brf {
  display: none;
}
footer .footer__d2 {
  width: 850px;
  padding-top: 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 40px;
}
footer .footer__d2 .footer__d2--item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .footer__d2 .footer__d2--item .text-gr {
  display: flex;
  gap: 10px;
}
footer .footer__d2 .footer__d2--item .text-gr .bold {
  font-weight: bold;
  white-space: nowrap;
}
footer .footer__d3 {
  display: flex;
  justify-content: center;
  gap: 55px;
  padding-top: 20px;
}
footer .footer__d3 ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
footer .footer__d3 ul li {
  flex-shrink: 0;
  padding: 0px 5px;
}
footer .footer__d3 ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
}
footer .footer__d3 ul a:hover {
  opacity: 70%;
}
footer .footer__copy {
  text-align: center;
  padding: 30px;
  color: #969696;
}

.contact2 {
  position: fixed;
  top: 35%;
  right: -60px;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact2 a {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact2 .cont2-org, .contact2 .cont2-red {
  color: #FFFFFF;
  border-radius: 20px 0 0 20px;
  padding: 10px;
  gap: 5px;
}
.contact2 .cont2-org:hover, .contact2 .cont2-red:hover {
  opacity: 70%;
}
.contact2 .cont2-org p, .contact2 .cont2-red p {
  padding: 0 7px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
  background-color: #FFE344;
  color: #000000;
}
.contact2 .cont2-org {
  background-color: #f67600;
}
.contact2 .cont2-red {
  background-color: #DD1D1D;
}

@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
  .width768 {
    display: none;
  }
  .pic768 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header {
    gap: 0 !important;
    max-width: 768px;
    width: 100%;
  }
  .header .above img {
    width: 201px;
    height: 26px;
  }
  .header .above .width768 {
    display: flex;
    gap: 40px;
  }
  .header .above .width768 .phone768 {
    width: 24px;
    height: 24px;
  }
  .header .above .width768 .menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    transform: translateY(-10px);
  }
  .contact1 {
    display: none !important;
  }
  .banner {
    width: 90%;
  }
  .link {
    padding-left: 40px;
  }
  .contact2 {
    display: none;
  }
  .menu-open .nav .cont768 {
    display: block !important;
    transform-origin: top left;
    padding-bottom: 40px;
    animation: slideDown 0.5s ease-out;
  }
  .menu-open .page-content {
    display: none;
  }
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .menu-list {
    display: none !important;
    background-color: #FFFFFF;
  }
  .menu-open .menu-list {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    animation: slideDown 0.5s ease-out;
    text-align: center;
    gap: 0 !important;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 768px;
  }
  .menu-open .menu-list li {
    width: 100%;
    max-width: 384px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 30px 130px !important;
    white-space: nowrap;
    margin: 0;
  }
  .menu-list a {
    text-decoration: none;
    color: #000;
  }
  .main .s1 {
    width: 90%;
    margin: auto;
  }
  .main .s1 p {
    font-size: 15px;
  }
  .main .s1 span {
    display: none;
  }
  .main .s2 {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
    gap: 20px;
  }
  .main .s2 .card {
    transform: scale(0.9);
  }
  .main .s3 {
    width: 50%;
    transform: scale(1.5);
    margin-top: 88px;
    margin-bottom: 88px;
  }
  .main .s3 .left {
    display: none;
  }
  .main .s3 .right {
    display: none;
  }
  .main .s3 .center .title {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  .main .s3 .center .title .pic768_none {
    display: block;
  }
  .main .s3 .center .title .gr p span {
    display: block;
  }
  .main .s4 {
    width: 90%;
  }
  .main .s4 .item .s4__content {
    padding: 20px 24px 32px 24px;
  }
  .main .s4 .item .s4__content .content {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .main .s4 .item .s4__content .content .group .logo {
    margin: auto;
  }
  .main .s4 .item .s4__content .content .group .logo img {
    width: 94px;
    height: 94px;
  }
  .main .s4 .item .s4__content .content .pic {
    display: flex;
    justify-content: center;
  }
  .main .s4 .item .s4__content .content .pic img {
    width: 100%;
  }
  .contact {
    flex-direction: column;
  }
  .contact .cont-d1 {
    flex-direction: column;
    align-items: center;
  }
  .contact .cont-d1 .group-1, .contact .cont-d1 .group-2 {
    justify-content: center;
  }
  .contact .cont-d2 {
    display: block;
    width: 700px;
    align-items: center;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  .contact .cont-d2 p {
    padding: 20px 0;
  }
  .contact .cont-d2 .line-break {
    display: none;
  }
  .contact .cont-d3 {
    flex-direction: column;
    margin: auto;
  }
  .contact .cont-d3 .cont-d3__org {
    margin: auto;
    width: 90%;
  }
  .contact .cont-d3 .cont-d3__red {
    margin: auto;
    width: 90%;
  }
  footer .footer__d2 {
    display: block;
    max-width: 768px;
    width: 100%;
    gap: 10px;
  }
  footer .footer__d2 .footer__d2--item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  footer .footer__d2 .footer__d2--item .text-gr {
    display: block;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  footer .footer__d2 .footer__d2--item img {
    width: 90%;
  }
  footer .footer__d3 {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .menu-open .nav .cont768 .cont768__org {
    gap: 0;
    height: 64px;
  }
  .menu-open .nav .cont768 .cont768__org span {
    font-size: 1rem;
  }
  .menu-open .nav .cont768 .cont768__red {
    gap: 0;
    height: 64px;
  }
  .menu-open .nav .cont768 .cont768__red span {
    font-size: 1rem;
  }
  .menu-open .menu-list {
    max-width: 375px;
  }
  .menu-open .menu-list li {
    max-width: 187.5px;
    width: 100%;
    padding: 15px 70px !important;
    text-align: center;
  }
  .menu-open .menu-list li a {
    font-size: 0.8rem !important;
  }
  .banner {
    height: 148px;
    line-height: 1.1rem;
  }
  .banner p {
    font-size: 30px !important;
    transform: translateY(-40px);
  }
  .banner span {
    transform: translateY(-40px);
    font-weight: 400 !important;
  }
  .contact .cont-d1 .group-1 input {
    font-size: 1.2rem !important;
    padding: 5px 10px !important;
  }
  .contact .cont-d2 img {
    width: 40px;
    height: 40px;
    transform: translateY(5px);
  }
  .contact .cont-d2 .num {
    font-size: 2.5rem;
  }
  .contact .cont-d2 p {
    font-size: 0.7rem;
  }
  .contact .cont-d3 .cont-d3__org {
    width: 90%;
    padding: 5 10px;
    gap: 10px !important;
  }
  .contact .cont-d3 .cont-d3__org span {
    font-size: 1rem;
  }
  .contact .cont-d3 .cont-d3__red {
    width: 90%;
    padding: 5 10px;
    gap: 10px !important;
  }
  footer .footer-img img {
    margin: 0 !important;
    width: 240px !important;
    height: 32px !important;
  }
  footer span {
    font-size: 1.1rem !important;
    line-height: 0.1rem;
  }
  footer span .brf {
    display: block;
  }
  footer .footer__d2 .footer__d2--item .text-gr {
    font-size: 1rem !important;
  }
}/*# sourceMappingURL=first.css.map */