@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

$font-noto: "Noto Sans JP", serif;
$font-dm: "DM Serif Text", serif;
$font-os: "Oswald", serif;

//   ---main---
.main{
    width: 100%;
    max-width: 1120px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap:80px;
    padding-bottom: 120px;
    .s1{
        display: flex;
        flex-direction: column;
        gap: 40px;
        h1{
            position: relative;
            color: #F67600;
            text-align: center;
            padding-bottom: 20px;
            &::after{
                content: "";
                position: absolute;
                width: 4rem;
                height: 0.2rem;
                background-color: #F67600;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        p{
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 28.8px;
        }
    }
    .s2{
        max-width: 1120px;
        display: grid;
        grid-template-columns: repeat(3, minmax(20rem, 1fr));
        row-gap: 56px;
        column-gap: 24px;
        .card{
            background-color: #FEF8E9;
            border-radius: 24px;
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 40px 32px 32px 32px;
            .num{
                position: absolute;
                left: 40%;
                transform: translateY(-70px);
                span{
                    color: #F67600;
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -45%);
                    font-size: 28px;
                    font-weight: 800;
                    font-family: $font-os;
                }
            }
            .text{
                text-align: center;
                padding-bottom: 20px;
                font-size: 20px;
                font-weight: 700;
                span{
                    color: #F67600;
                }
            }
            .pic{
                margin: auto;
            }
        }
    }
    .s3{
      display: flex;
      text-align: center;
      margin: auto;
      gap: 48px;
      .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 24px;
        .title{
          font-weight: 700;
          font-size: 32px;
          .pic768_none{
            display: none;
          }
          .gr{
          display: inline-block;
          span{
            color: #F67600;
          }
          }
        }
        .text1{
          font-weight: 400;
          font-size: 15px;
        }
        .text2{
          font-weight: 700;
          font-size: 16px;
        }
      }
    }
    .s4{
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: auto;
      gap: 40px;
      .item{
        border: 4px solid #F67600;
        border-radius: 16px;
      .s4__title{
        padding: 16px 48px;
        background-color: #F67600;
        border-radius: 10px 10px 0 0;
        border: 4px solid #F67600;
        display: flex;
        justify-content: center;
        gap: 16px;
        text-align: center;
        align-items: center;
        color: #FFFFFF;
        .icon {  
          position: relative;  
          transform: translateY(-20px);
          .num{
            font-family: $font-os;
            font-size: 32px;
            //position: absolute;
            font-weight: 500;
            transform: translateY(50px);
            color: #F67600;
          }
        }
        .text_gr{
          span{
            font-size: 16px;
            font-weight: 700;
          }
          p{
            font-size: 32px;
            font-weight: 700;
          }
        }
      }
      .s4__content{
        display: flex;
        flex-direction: column;
        padding: 48px;
        gap: 32px;
        .content{
          display: flex;
          gap: 40px;
          .group{
            display: flex;
            flex-direction: column;
            gap: 24px;
            .logo{
              display: flex;
              gap: 24px;
              align-items: center;
              .gr_title1{
                .above_txt{
                  display: flex;
                  align-items: baseline;
                  font-size: 20px;
                  font-weight: 700;
                  p{
                    font-size: 36px;
                    font-weight: 700;
                    position: relative;
                    &::after {
                      content: "";
                      position: absolute;
                      left: 0;
                      bottom: 3px;
                      width: 100%;
                      height: 12px;
                      background-color: #FFDD55;
                      z-index: -1; 
                    }
                  }
                }
                span{
                  color: #606060;
                  font-size: 13px;
                  font-weight: 400;
                }
              }
              .gr_title2{
                display: flex;
                flex-wrap: wrap;
                row-gap: 0.8rem;
                column-gap: 2.4rem;   
                p{
                  font-size: 20px;
                  font-weight: 700;
                  display: flex;
                  position: relative;
                  &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 3px;
                    width: 100%;
                    height: 12px;
                    background-color: #FFDD55;
                    z-index: -1; 
                  }
                  &:first-of-type{
                    margin-right: 60px;
                  }
                  span{
                    display: flex;
                    transform: translateY(-7px);
                    color: #F67600;
                  }
                }
              }
              .gr_title3{
                display: flex;
                gap: 24px;
                span{
                  font-size: 15px;
                  font-weight: 700;
                  color: #F67600;
                }
                p{
                  font-size: 20px;
                  font-weight: 700;
                  display: flex;
                  position: relative;
                  &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: 3px;
                    width: 100%;
                    height: 12px;
                    background-color: #FFDD55;
                    z-index: -1; 
                  }
                  span{
                    display: flex;
                    font-size: 20px;
                    font-weight: 700;
                    transform: translateY(-7px);
                    color: #F67600;
                  }
              }
              }
            }
            .gr_txt{
              font-size: 15px;
              font-weight: 400;
              line-height: 24px;
              span{
                color: #F67600;
              }
            }
          }
          
        }
        .btn{

          display: inline-flex;
          margin: auto;
          justify-content: center;
          text-decoration: none;
          gap: 8px;
          border: 1px solid #000000;
          border-radius: 99px;
          padding: 24px 64px 24px 48px;
          .txt{
            font-size: 18px;
            font-weight: 700;
            color: #000;
          }
          .next0{
            visibility: hidden;
          }
        }
      }
    }
    }
}

  // sp màn hình 768px

  @media screen and (max-width: 768px){
  .main{
      .s1{
        width: 90%;
        margin: auto;
        p{
          font-size: 15px;
        }
        span{
          display: none;
        }
      }
      .s2{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, minmax(20rem, 1fr));
        column-gap: 20px;
        row-gap: 20px;
        .card{
          transform: scale(0.9);
          width: 100%;
        }
      }
      .s3{
        width: 50%;
        transform: scale(1.5);
        margin-top: 88px;
        margin-bottom: 88px;
        .left{
          display: none;
        }
        .right{
          display: none;
        }
        .center{
          .title{
            display: flex;
            justify-content: center;
            gap: 8px;
            .pic768_none{
              display: block;
            }
            .gr p span{
              display: block;
            }
          }
        }
      }
      .s4{
        width: 90%;
        .item{
          .s4__content{
            padding: 20px 24px 32px 24px ;
            .content{
              display: flex;
              flex-direction: column;
              margin: auto;
              .group{
                .logo{
                  .gr_title2 p:first-of-type {
                    margin-right: 125px;
                  }
                  img{
                    width: 94px;
                    height: 94px;
                  }
                }
              }
              .pic{
                display: flex;
                justify-content: center;
                img{
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }

    // sp màn hình 375px

@media screen and (max-width: 376px){
 .main{
  gap: 48px;
  .s2{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, minmax(1.2rem, 1fr));
    .card{
      width: 100%;
      padding: 32px 16px 16px 16px;
      .num{
        margin-top: 20px;
        span{
          font-size: 16.5px;
        }
        img{
          width: 34px;
        }
      }
      .text{
        font-size: 14px !important;
      }
      .pic img{
        width: 106px;
      }
    }
 }
 .s3{
  .center{
    .text1, .text2{
      font-size: 9px ;
    }
    .title{
      transform: scale(1.2);
      width: 100%;
      font-size: 10px;
      align-items: center;      
    }
  }
 }
 .s4{
  .item{
    .s4__title{
      padding: 0;
      .text_gr{
        text-align: left;
        span{
          font-size: 13px !important;
        }
        p{
          font-size: 24px !important;
        }
      }
    }
    .s4__content{
      padding: 20px 21px 32px 21px;
      gap: 24px;
      .content{
        gap: 20px;
        .group{
          gap: 20px;
          .logo{
            gap: 12px !important;
            .gr_title1{
              span{
                font-size: 10px !important;
              }
              .above_txt{
                display: flex;
                flex-direction: column;
                font-size: 15px !important;
                p{
                  font-size: 24px !important;
                }
              }
            }
            .gr_title2{
              p:first-of-type{
                margin-right: 0 !important;
              }
              p{
                font-size: 15px;
              }
            }
            .gr_title3{
              display: flex;
              flex-direction: column;
              gap: 8px;
              span{
                font-size: 12px;
              }
              p{
                font-size: 15px;
              }
            }
          }
        }
      }
      .btn{
        padding: 15px 20px 15px 0px;
        .txt{
          font-size: 13px !important;
        }
      }
    }
  }
 }
}
}