@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

$font-noto: "Noto Sans JP", serif;
$font-dm: "DM Serif Text", serif;
 

body{
    font-family: $font-noto;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.page-content{
  display: block;
}

//   ---header---

.header{

    padding: 32px 0px;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #FFFFFF;
    .container{
      max-width: 1440px;
      margin: 0 auto;
      display: grid;
      row-gap: 30px;
    }
    .above {
      width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo img {
          max-width: 260px;
        }
        .contact1{
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            img{
              width: 40px;
              height: 40px;
              transform: translateY(5px);
            }
            span{
              font-size: 3rem;
              font-weight: 700;
                color: #f67600;
            }
            p{
              font-size: 1.1rem;
              color: #000000;
            }
            
      }
    }
    .nav{
        max-width: 1360px;
        display: inline-block;
        margin: 0 auto;
        .cont768{ 
          display: none;
          width: 90%;
          position:relative;
          margin: auto;
          padding-top: 50px;
          .cont768__org{
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: #f67600;
            color: #FFFFFF;
            align-items: center;
            border-radius: 50px;
            text-decoration: none;
            padding: 20px 10px;
            margin-bottom: 20px;
            gap: 60px;
            .child1{
              img{
                opacity: 0;
              }
            }
            .child2{
              display: flex;
              align-items: center;
              font-size: 1.7rem;
              font-weight: 700;
              gap: 10px;
              letter-spacing: 2px;
            }
          }
          .cont768__red{
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: #DD1D1D;
            color: #FFFFFF;
            align-items: center;
            border-radius: 50px;
            text-decoration: none;
            padding: 20px 10px;
            gap: 60px;
            .child1{
              img{
                opacity: 0;
              }
            }
            .child2{
              display: flex;
              align-items: center;
              font-size: 1.7rem;
              font-weight: 700;
              gap: 10px;
              letter-spacing: 2px;
            }
          }
        }
        .menu-list{        
            display: flex;         
            gap:35px;
            list-style: none;
            li{
                padding: 0px 5px;
            }
            a{
                text-decoration: none;
                color: black;
                font-weight: bold;
                &:hover{
                    opacity: 75%;
                }
            }
            
        }
    }
}

//   ---main---
.main {
  width: 100%;
  max-width: 1120px;
  min-height: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap:40px;
  padding-bottom: 120px;
  .main-item{
    display: flex;
    align-items: center;
    gap: 40px;
    .pic{
      width: 480px;
      background-size: 100% 100%;
      border-radius: 10px;
      flex-shrink: 0;
    }
    .news{
      .title1, .title2, .title3{
        width: 395px;
        // height: 80px;
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
        align-items: center;
        .num{
          font-family: arial;
          font-size: 4.5rem;
          font-weight: 700;
          color: #f67600;
          padding-right: 10px;
        }
        span{
          color: #f67600;
        }
      }
      .title1{
        background-image: url('../img/back1_news.png');
        background-size: 375px 40px;
        background-position: 0 40px;
        background-repeat: no-repeat;
      }
      .title2{
        background-image: url('../img/back2_news.png');
        background-size: 270px 40px;
        background-position: 0 40px;
        background-repeat: no-repeat;
      }
      .title3{
        background-image: url('../img/back3_news.png');
        background-size: 280px 40px;
        background-position: 0 40px;
        background-repeat: no-repeat;
      }
      .content{
        white-space: normal;
        font-size: 1.1rem;
        line-height:1.6rem;
        span{
          color: #f67600;
        }
        p{
          color: #2C2C2C;
          display: inline;
        }
      }
    }
  }
}


//   ---banner----
.banner {
  width: 100%;
  max-width: 1360px;
  height: 300px;
  margin: auto;
  background-image: url('../img/pic_banner.png');
  border-radius: 20px;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 0;
  p {
  color: #FFFFFF;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
  }
  span {
  color: orange;
  font-size: 25px;
  font-weight: 600;
  font-family: oswald;
  }
}

//   ---link---
.link{
  display: flex;
  width: 100%;
  max-width: 1120px;
  margin: auto;
  padding: 20px 0 40px 0;
  span{
    a{
      text-decoration: none;
      color: #f67600;
    }
  }
  a{
    text-decoration: none;
    color: #606060;
  }
}

//   ---contact---
.contact{
  padding: 60px 0;
  gap: 40px;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../img/back_cont.png');
  .cont-d1{
    display: flex;
    justify-content: center;
    gap: 10px;
    .group-1, .group-2 {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    input{
      background-color: #FFFFFF;
      height: 50px;
      font-size: 1.5rem;
      color: #000000;
      font-weight: 900;
      border-radius: 10px;
      padding: 15px 20px;
      line-height: 20px;
      border: #FFFFFF;
    }
    p{
      color: #FFFFFF;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
  .cont-d2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #FFFFFF;
    text-decoration: none;
    span{
      font-size: 3.5rem;
      font-weight: 700;
    }
    p{
      transform: translateY(-20px);
    }
}
  .cont-d3{ 
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
    .cont-d3__org{
      width: 453px;
      display: flex;
      justify-content: space-between;
      background-color: #f67600;
      color: #FFFFFF;
      align-items: center;
      border-radius: 50px;
      text-decoration: none;
      padding: 20px 10px;
      gap: 60px;
      .child1{
        img{
          opacity: 0;
        }
      }
      .child2{
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 700;
        gap: 10px;
        letter-spacing: 2px;
      }
    }
    .cont-d3__red{
      width: 453px;
      display: flex;
      justify-content: space-between;
      background-color: #DD1D1D;
      color: #FFFFFF;
      align-items: center;
      border-radius: 50px;
      text-decoration: none;
      padding: 20px 10px;
      gap: 60px;
      .child1{
        img{
          opacity: 0;
        }
      }
      .child2{
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 700;
        gap: 10px;
        letter-spacing: 2px;
      }
    }
  }
}

//   ---footer---
footer {
    background-color: #2C2C2C;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    line-height: 2rem;
    margin: 0 auto;
    .footer-img {
      display: flex; 
      justify-content: center;
      align-items: center; 
      margin-bottom: 20px;
      img {
        max-width: 358px;
        height: 47px;
        margin: 30px;
      }
    }
    span{
        color: #f67600;
        font-family: Oswald;
        font-weight: bold; 
        font-size: 1.3rem;
        .brf{
          display: none;
        }
    }
    
    .footer__d2{
      width: 850px;
      padding-top: 30px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 1fr;
      text-align: left;
      gap: 40px;
      .footer__d2--item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .text-gr {
          display: flex;
          gap: 10px;
        .bold{
          font-weight: bold;
          white-space: nowrap;
        }
      }
      }
    }
    .footer__d3{
      display: flex;
      justify-content: center;  
      
      gap:55px;
      padding-top: 20px;
      ul{
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: left;
        li{
          flex-shrink: 0;
          padding: 0px 5px;
        }
        a{
            text-decoration: none;
            color: #FFFFFF;
            font-weight: 500;
            &:hover{
                opacity: 70%;
            }
        }
      }
    }
    .footer__copy{
      text-align: center;
      padding: 30px;
      color: #969696;
    }
}

  // ---contact cố định---
  .contact2{
    position: fixed; 
    top: 35%;
    right:-60px;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    a{
      text-align: center;
      text-decoration: none; 
      display: flex; 
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .cont2-org, .cont2-red{
      color:#FFFFFF;  
      border-radius: 20px 0 0 20px; 
      padding: 10px;
      gap: 5px;
      &:hover{
        opacity: 70%;
      }
      p{
        padding: 0 7px; 
        border-radius: 20px; 
        font-size: 10px;
        font-weight: bold;
        background-color: #FFE344; 
        color:#000000;
      }
    }
    .cont2-org{
      background-color:#f67600; 
    }
    .cont2-red{
      background-color:#DD1D1D; 
    }
  }

  @media screen and (min-width: 769px){
    .menu-toggle {
      display: none;
  }
  .banner .br375{
    display: none;
  }
    .width768{
      display: none;
    }
    .pic768{
      display: none;
    }
  }

  // sp màn hình 768px

  @media screen and (max-width: 768px){
    .header{
      gap: 0 !important;
      max-width: 768px;
      width: 100%;
      .above{
        img{
          width: 201px;
          height: 26px;

        }
        .width768{
          display: flex;
          gap: 40px;
          .phone768{
            width: 24px;
            height: 24px;
          }
          .menu-toggle {
            display: block;
            font-size: 30px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            text-align: center;
            transform: translateY(-10px);
          }
        }
      }
    }
    .contact1 {
      display: none !important;
    }
    .banner {
      width: 90%;
      .br375{
            display: none;
      }
    }
    .link{
      padding-left: 40px;
    }
    .contact2{
      display: none;
    }
    .menu-open .nav .cont768{
      display: block !important;
      transform-origin: top left;
      padding-bottom: 40px ;
      animation: slideDown 0.5s ease-out;
    }
    .menu-open .page-content {
      display: none;
  }

  @keyframes slideDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

  .menu-list {
        display: none !important;
        background-color: #FFFFFF;     
  }
  .menu-open .menu-list {
        display: grid !important;
        grid-template-columns: 1fr 1fr;
        animation: slideDown 0.5s ease-out;
        text-align: center;
        gap: 0 !important;
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 768px;
        li {
            width: 100%;
            max-width: 384px;
            border: 1px solid #cccccc;
            box-sizing: border-box;
            padding: 30px 130px !important;
            white-space: nowrap;
            margin: 0;
        }
  }
  .menu-list a {
            text-decoration: none;
            color: #000;
  } 
  .main-item{
      display: flex;
      flex-direction: column;  
      .pic{
        display: none;
      }
      .pic768{
        width: 90%;
        margin: auto;
        padding: 20px 0;
        border-radius: 20px;
        img{
          width: 100%;
        }
      }
      .news{ 
        width: 100%;
        flex-direction: column;
        gap: 0;
        .title1, .title2, .title3{
        flex-direction: column;
        display: flex;
        background: url(../img/back1_news.png) no-repeat center bottom / 75% !important;
        padding-bottom: 18px;
        gap: 0;
        margin: 0 auto;
      }
      .content{
        width: 90%;
        margin: auto;
        line-height: 1.8rem;
      }
    }
  }
  .contact{
    flex-direction: column;
    .cont-d1 {
      flex-direction: column;
      align-items: center;
      .group-1, .group-2 {
        justify-content: center;

    }
    }
    .cont-d2{
      display: block;

      align-items: center;
      margin: auto;
      text-align: center;
      flex-wrap: wrap;
    p{
      padding: 20px 0;
    }
      .line-break{
        display: none;
      }
    }
    .cont-d3{
      flex-direction: column;
      margin: auto;
      .cont-d3__org{
        margin: auto;
        width: 90%;
      }
      .cont-d3__red{
        margin: auto;
        width: 90%;
      }
    }
  }
  footer{
    .footer__d2{
      display: block;
      max-width: 768px;
      width: 100%;
      gap: 10px;
      .footer__d2--item{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        .text-gr{
          display: block;
          font-size: 2rem;
          margin-bottom: 20px;
        }
        img{
          width: 90%;
        }
      }
    }
    .footer__d3{
    display: none;
  }
  }
}


  // sp màn hình 375px

@media screen and (max-width: 376px){
  .menu-open .nav .cont768{
    .cont768__org{
      gap: 0;
      height: 64px;
      span{
        font-size: 1rem;
      }
    }
    .cont768__red{
      gap: 0;
      height: 64px;
      span{
        font-size: 1rem;
      }
    }
  }
  .menu-open .menu-list{
    max-width: 375px;
    li{

      max-width: 187.5px;
      width: 100%;
      padding: 15px 70px !important;
      text-align: center;
      a{
        font-size: 0.8rem !important;
      }
    }
  }
.banner{
  height: 148px;
  line-height: 1.1rem;
  p{
    font-size: 30px !important;
    transform:translateY(-40px);
  }
  span{
    font-size: 25px !important;
    transform:translateY(-40px);
    font-weight: 400 !important;
  }
  .br375{
    display: block !important;
  }
}
.main{
  .pic768{
    width: 90%;
  }
  .main-item{
    .news{
      .title1, .title2, .title3{
        width: 375px;
      }
    }
  }
}
.contact{
  .cont-d1{
    
    .group-1{ 
      input{
        font-size: 1.2rem !important;
        padding: 5px 10px !important;
      }
    }
  }
  .cont-d2{

    img{
      width: 40px;
      height: 40px;
      transform: translateY(5px);
    }
    .num{
      font-size:2.5rem;
    }
    p{
      font-size: 0.7rem;
    }
  }
  .cont-d3{
    .cont-d3__org{
      width: 90%;
      padding: 5 10px;
      gap: 10px !important;
      span{
        font-size: 1rem;
      }
    }
    .cont-d3__red{
      width: 90%;
      padding: 5 10px;
      gap: 10px !important;
    }
  }
}
footer{
  .footer-img img{
    margin: 0 !important;
    width: 240px !important;
    height: 32px !important;
  }
  span{
    font-size: 1.1rem !important;
    line-height: 0.1rem;
    .brf{
      display: block;
    }
  }
  .footer__d2 .footer__d2--item .text-gr{
    // margin-bottom: 5px;
    // margin-left: 350px;
    font-size: 1rem !important;
  }
}
}