@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

$font-noto: "Noto Sans JP", serif;
$font-dm: "DM Serif Text", serif;

body{
    font-family: $font-noto;
    padding-top: 160px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//   ---header---

header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    height: 160px;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    padding: 32px ;
    gap:25px;
    .above {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo img {
            max-width: 260px;
        }
        .contact1{
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            img{
              width: 40px;
              height: 40px;
              transform: translateY(5px);
            }
            span{
              font-size: 3rem;
              font-weight: 700;
                color: #f67600;
            }
            p{
              font-size: 1.1rem;
              color: #000000;
            }
      }
    }
    nav{
        max-width: 1360px;
        display: inline-block;
        margin: 0 auto;
        .menu-list{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap:35px;
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                flex-shrink: 0;
                padding: 0px 5px;
            }
            a{
                text-decoration: none;
                color: black;
                font-weight: bold;
                text-align: center;
                &:hover{
                    opacity: 75%;
                }
            }
            
        }
    }
}

//   ---main---
.main {
  width: 100%;
  max-width: 1120px;
  min-height: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap:40px;
  padding-bottom: 120px;
  .main-item{
    display: flex;
    align-items: center;
    gap: 40px;
    .pic{
      width: 480px;
      background-size: 100% 100%;
      border-radius: 10px;
      flex-shrink: 0;
    }
    .news{
      .title{
        width: 395px;
        height: 80px;
        display: flex;
        font-size: 1.4rem;
        font-weight: 700;
        align-items: center;
        background-image: url('../img/back1_news.png');
        background-position: center 40px;
        background-size: 360px 35px;
        background-repeat: no-repeat;
        .num{
          font-family: arial;
          font-size: 4.5rem;
          font-weight: 700;
          color: #f67600;
          padding-right: 10px;
        }
        span{
          color: #f67600;
        }
      }
      .content{
        white-space: normal;
        font-size: 1.1rem;
        line-height:1.6rem;
        span{
          color: #f67600;
        }
        p{
          color: #2C2C2C;
          display: inline;
        }
      }
    }
  }
}


//   ---banner----
.banner {
  width: 100%;
  max-width: 1360px;
  height: 300px;
  margin: auto;
  background-image: url('../img/pic_banner.png');
  border-radius: 20px;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 0;
  p {
  color: #FFFFFF;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
  }
  span {
  color: orange;
  font-size: 25px;
  font-weight: 600;
  }
}

//   ---link---
.link{
  display: flex;
  width: 100%;
  max-width: 1120px;
  margin: auto;
  padding: 20px 0 40px 0;
  span{
    a{
      text-decoration: none;
      color: #f67600;
    }
  }
  a{
    text-decoration: none;
    color: #606060;
  }
}

//   ---contact---
.contact{
  width: 100%;
  max-width: 1440px;
  height: 454px;
  position: relative;
  background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('../img/back_cont.png');
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .cont-d1{
    display: flex;
    align-items: center;
    position: absolute;
    top:25%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    input{
      background-color: #FFFFFF;
      height: 50px;
      font-size: 1.5rem;
      color: #000000;
      font-weight: 900;
      border-radius: 10px;
      padding: 15px 20px;
      line-height: 20px;
      border: #FFFFFF;
    }
    p{
      color: #FFFFFF;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }
  .cont-d2{
    display: flex;
    align-items: center;
    position: absolute;
    top:47%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
    color: #FFFFFF;
    text-decoration: none;
    span{
      font-size: 3.5rem;
      font-weight: 700;
    }
}
  .cont-d3{ 
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:75%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 20px;
    white-space: nowrap;
    .cont-d3__org{
      width: 453px;
      display: flex;
      justify-content: space-between;
      background-color: #f67600;
      color: #FFFFFF;
      align-items: center;
      border-radius: 50px;
      text-decoration: none;
      padding: 20px 10px;
      gap: 60px;
      .child1{
        img{
          opacity: 0;
        }
      }
      .child2{
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 700;
        gap: 10px;
        letter-spacing: 2px;
      }
    }
    .cont-d3__red{
      width: 453px;
      display: flex;
      justify-content: space-between;
      background-color: #DD1D1D;
      color: #FFFFFF;
      align-items: center;
      border-radius: 50px;
      text-decoration: none;
      padding: 20px 10px;
      gap: 60px;
      .child1{
        img{
          opacity: 0;
        }
      }
      .child2{
        display: flex;
        align-items: center;
        font-size: 1.7rem;
        font-weight: 700;
        gap: 10px;
        letter-spacing: 2px;
      }
    }
  }
}

//   ---footer---
footer {
    width: 100%;
    background-color: #2C2C2C;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    line-height: 2rem;
    max-width: 1440px;
    margin: 0 auto;
    .footer-img {
      display: flex; 
      justify-content: center;
      align-items: center; 
      margin-bottom: 20px;
      img {
        max-width: 358px;
        height: 47px;
        margin: 30px;
      }
    }
    span{
        color: #f67600;
        font-family: Oswald;
        font-weight: bold; 
        font-size: 1.3rem;
    }
    
    .footer__d2{
      width: 70%;
      height: 200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-around; 
      align-items: center; 
  
      .footer__d2--item{
        p {
          display: inline-block;
          margin: 10px ; 
          
        }
        .bold{
          font-weight: bold;
          transform: translateY(-30px);
        }
      }
    }
    .footer__d3{
      width: 60%;
      display: flex;
      margin: 0 auto;
      height: 200px;
      gap:70px;
      .footer__d3--1 p,
      .footer__d3--2 p,
      .footer__d3--3 p,
      .footer__d3--4 p,
      .footer__d3--5 p
      {
        line-height: 2rem;
      }
    }
    .footer__copy{
      text-align: center;
      margin-bottom: 30px;
      color: #969696;
    }
}

//   ---contact cố định---
// .contact2{
//   position: fixed;
//   top: 100px; 
//   right: 10px;  
//   color: white;
//   padding: 10px 20px;
//   border-radius: 25px;
//   display: flex;
//   flex-direction: column;
//   gap: 5px;
//   text-decoration: none;
//   .cont2-org{
//     display: flex;
//     flex-direction: column;
//     gap: 5px;
//     background-color: #f67600;
//   }
// }