@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
body {
  font-family: "Noto Sans JP", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-content {
  display: block;
}

.header {
  padding: 32px 0px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #FFFFFF;
}
.header .container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  row-gap: 30px;
}
.header .above {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .above .logo img {
  max-width: 260px;
}
.header .above .contact1 {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.header .above .contact1 img {
  width: 40px;
  height: 40px;
  transform: translateY(5px);
}
.header .above .contact1 span {
  font-size: 3rem;
  font-weight: 700;
  color: #f67600;
}
.header .above .contact1 p {
  font-size: 1.1rem;
  color: #000000;
}
.header .nav {
  max-width: 1360px;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}
.header .nav .cont768 {
  display: none;
  width: 90%;
  position: relative;
  margin: auto;
  padding-top: 50px;
}
.header .nav .cont768 .cont768__org {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f67600;
  color: #FFFFFF;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 10px;
  margin-bottom: 20px;
  gap: 60px;
}
.header .nav .cont768 .cont768__org .child1 img {
  opacity: 0;
}
.header .nav .cont768 .cont768__org .child2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
}
.header .nav .cont768 .cont768__red {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #DD1D1D;
  color: #FFFFFF;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 10px;
  gap: 60px;
}
.header .nav .cont768 .cont768__red .child1 img {
  opacity: 0;
}
.header .nav .cont768 .cont768__red .child2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
}
.header .nav .menu-list {
  display: flex;
  gap: 35px;
  list-style: none;
}
.header .nav .menu-list li {
  padding: 0px 5px;
}
.header .nav .menu-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.header .nav .menu-list a:hover {
  opacity: 75%;
}

.banner {
  width: 100%;
  max-width: 1360px;
  height: 300px;
  margin: auto;
  background-image: url("../img/pic_banner.png");
  border-radius: 20px;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 0;
}
.banner p {
  color: #FFFFFF;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 20px;
}
.banner .banner_txt {
  color: #F67600;
  font-size: 24px;
  font-weight: 500;
  font-family: "Oswald", serif;
  position: relative;
  display: inline-block;
}
.banner .banner_txt::before, .banner .banner_txt::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 12px;
  height: 2px;
  background-color: #F67600;
  transform: translateY(-50%);
}
.banner .banner_txt::before {
  left: 46%;
}
.banner .banner_txt::after {
  right: 46%;
}

.link {
  display: flex;
  width: 100%;
  max-width: 1120px;
  margin: auto;
  padding: 20px 0 72px 0;
}
.link span a {
  text-decoration: none;
  color: #f67600;
}
.link a {
  text-decoration: none;
  color: #606060;
}

.contact {
  padding: 60px 0;
  gap: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/back_cont.png");
}
.contact .cont-d1 {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.contact .cont-d1 .group-1, .contact .cont-d1 .group-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact .cont-d1 input {
  background-color: #FFFFFF;
  height: 50px;
  font-size: 1.5rem;
  color: #000000;
  font-weight: 900;
  border-radius: 10px;
  padding: 15px 20px;
  line-height: 20px;
  border: #FFFFFF;
}
.contact .cont-d1 p {
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: bold;
}
.contact .cont-d2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #FFFFFF;
  text-decoration: none;
}
.contact .cont-d2 span {
  font-size: 3.5rem;
  font-weight: 700;
}
.contact .cont-d2 p {
  transform: translateY(-20px);
}
.contact .cont-d3 {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  gap: 20px;
}
.contact .cont-d3 .cont-d3__org {
  width: 453px;
  display: flex;
  justify-content: space-between;
  background-color: #f67600;
  color: #FFFFFF;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 10px;
  gap: 60px;
}
.contact .cont-d3 .cont-d3__org .child1 img {
  opacity: 0;
}
.contact .cont-d3 .cont-d3__org .child2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
}
.contact .cont-d3 .cont-d3__red {
  width: 453px;
  display: flex;
  justify-content: space-between;
  background-color: #DD1D1D;
  color: #FFFFFF;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 10px;
  gap: 60px;
}
.contact .cont-d3 .cont-d3__red .child1 img {
  opacity: 0;
}
.contact .cont-d3 .cont-d3__red .child2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
}

footer {
  background-color: #2C2C2C;
  color: #FFFFFF;
  padding: 20px 0;
  text-align: center;
  line-height: 2rem;
  margin: 0 auto;
}
footer .footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
footer .footer-img img {
  max-width: 358px;
  height: 47px;
  margin: 30px;
}
footer span {
  color: #f67600;
  font-family: Oswald;
  font-weight: bold;
  font-size: 1.3rem;
}
footer span .brf {
  display: none;
}
footer .footer__d2 {
  width: 850px;
  padding-top: 30px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 40px;
}
footer .footer__d2 .footer__d2--item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .footer__d2 .footer__d2--item .text-gr {
  display: flex;
  gap: 10px;
}
footer .footer__d2 .footer__d2--item .text-gr .bold {
  font-weight: bold;
  white-space: nowrap;
}
footer .footer__d3 {
  display: flex;
  justify-content: center;
  gap: 55px;
  padding-top: 20px;
}
footer .footer__d3 ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
footer .footer__d3 ul li {
  flex-shrink: 0;
  padding: 0px 5px;
}
footer .footer__d3 ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
}
footer .footer__d3 ul a:hover {
  opacity: 70%;
}
footer .footer__copy {
  text-align: center;
  padding: 30px;
  color: #969696;
}

.contact2 {
  position: fixed;
  top: 35%;
  right: -60px;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact2 a {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact2 .cont2-org, .contact2 .cont2-red {
  color: #FFFFFF;
  border-radius: 20px 0 0 20px;
  padding: 10px;
  gap: 5px;
}
.contact2 .cont2-org:hover, .contact2 .cont2-red:hover {
  opacity: 70%;
}
.contact2 .cont2-org p, .contact2 .cont2-red p {
  padding: 0 7px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
  background-color: #FFE344;
  color: #000000;
}
.contact2 .cont2-org {
  background-color: #f67600;
}
.contact2 .cont2-red {
  background-color: #DD1D1D;
}

@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
  .banner .br375 {
    display: none;
  }
  .width768 {
    display: none;
  }
  .pic768 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header {
    gap: 0 !important;
    max-width: 768px;
    width: 100%;
  }
  .header .above img {
    width: 201px;
    height: 26px;
  }
  .header .above .width768 {
    display: flex;
    gap: 40px;
  }
  .header .above .width768 .phone768 {
    width: 24px;
    height: 24px;
  }
  .header .above .width768 .menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    transform: translateY(-10px);
  }
  .contact1 {
    display: none !important;
  }
  .banner {
    width: 90%;
  }
  .banner .banner_txt::after {
    right: 42%;
  }
  .banner .banner_txt::before {
    left: 42%;
  }
  .banner .br375 {
    display: none;
  }
  .link {
    padding-left: 40px;
    padding-bottom: 48px;
  }
  .contact2 {
    display: none;
  }
  .menu-open .nav .cont768 {
    display: block !important;
    transform-origin: top left;
    padding-bottom: 40px;
    animation: slideDown 0.5s ease-out;
  }
  .menu-open .page-content {
    display: none;
  }
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-100px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .menu-list {
    display: none !important;
    background-color: #FFFFFF;
  }
  .menu-open .menu-list {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    animation: slideDown 0.5s ease-out;
    text-align: center;
    gap: 0 !important;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 768px;
  }
  .menu-open .menu-list li {
    border: 1px solid #cccccc;
    padding: 20px 0px !important;
    white-space: nowrap;
  }
  .menu-list a {
    text-decoration: none;
    color: #000;
    padding: 20px 100px;
  }
  .contact {
    flex-direction: column;
  }
  .contact .cont-d1 {
    flex-direction: column;
    align-items: center;
  }
  .contact .cont-d1 .group-1, .contact .cont-d1 .group-2 {
    justify-content: center;
  }
  .contact .cont-d2 {
    display: block;
    align-items: center;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  .contact .cont-d2 p {
    padding: 20px 0;
  }
  .contact .cont-d2 .line-break {
    display: none;
  }
  .contact .cont-d3 {
    flex-direction: column;
    margin: auto;
  }
  .contact .cont-d3 .cont-d3__org {
    margin: auto;
    width: 90%;
  }
  .contact .cont-d3 .cont-d3__red {
    margin: auto;
    width: 90%;
  }
  footer .footer__d2 {
    display: block;
    max-width: 768px;
    width: 100%;
    gap: 10px;
  }
  footer .footer__d2 .footer__d2--item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  footer .footer__d2 .footer__d2--item .text-gr {
    display: block;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  footer .footer__d2 .footer__d2--item img {
    width: 90%;
  }
  footer .footer__d3 {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .menu-open .nav .cont768 .cont768__org {
    gap: 0;
    height: 64px;
  }
  .menu-open .nav .cont768 .cont768__org span {
    font-size: 1rem;
  }
  .menu-open .nav .cont768 .cont768__red {
    gap: 0;
    height: 64px;
  }
  .menu-open .nav .cont768 .cont768__red span {
    font-size: 1rem;
  }
  .menu-open .menu-list {
    max-width: 375px;
  }
  .menu-open .menu-list li {
    max-width: 187.5px;
    width: 100%;
    padding: 15px 70px !important;
    text-align: center;
  }
  .menu-open .menu-list li a {
    font-size: 0.8rem !important;
  }
  .banner {
    height: 148px;
    line-height: 1.1rem;
  }
  .banner p {
    font-size: 30px !important;
    transform: translateY(-40px);
  }
  .banner span {
    font-size: 25px !important;
    transform: translateY(-40px);
    font-weight: 400 !important;
  }
  .banner .br375 {
    display: block !important;
  }
  .contact .cont-d1 .group-1 input {
    font-size: 1.2rem !important;
    padding: 5px 10px !important;
  }
  .contact .cont-d2 img {
    width: 40px;
    height: 40px;
    transform: translateY(5px);
  }
  .contact .cont-d2 .num {
    font-size: 2.5rem;
  }
  .contact .cont-d2 p {
    font-size: 0.7rem;
  }
  .contact .cont-d3 .cont-d3__org {
    width: 90%;
    padding: 5 10px;
    gap: 10px !important;
  }
  .contact .cont-d3 .cont-d3__org span {
    font-size: 1rem;
  }
  .contact .cont-d3 .cont-d3__red {
    width: 90%;
    padding: 5 10px;
    gap: 10px !important;
  }
  footer .footer-img img {
    margin: 0 !important;
    width: 240px !important;
    height: 32px !important;
  }
  footer span {
    font-size: 1.1rem !important;
    line-height: 0.1rem;
  }
  footer span .brf {
    display: block;
  }
  footer .footer__d2 .footer__d2--item .text-gr {
    font-size: 1rem !important;
  }
}/*# sourceMappingURL=style.css.map */