@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
body {
  font-family: "Noto Sans JP", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-content {
  display: block;
}

.header {
  padding: 32px 0px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #FFFFFF;
}
.header .container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  row-gap: 30px;
}
.header .above {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .above .logo img {
  max-width: 260px;
}
.header .above .contact1 {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.header .above .contact1 img {
  width: 40px;
  height: 40px;
  transform: translateY(5px);
}
.header .above .contact1 span {
  font-size: 3rem;
  font-weight: 700;
  color: #f67600;
}
.header .above .contact1 p {
  font-size: 1.1rem;
  color: #000000;
}
.header .nav {
  max-width: 1360px;
  display: inline-block;
  margin: 0 auto;
}
.header .nav .cont768 {
  display: none;
  width: 90%;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header .nav .cont768 .cont768__org {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f67600;
  color: #FFFFFF;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 10px;
  margin-bottom: 20px;
  gap: 60px;
}
.header .nav .cont768 .cont768__org .child1 img {
  opacity: 0;
}
.header .nav .cont768 .cont768__org .child2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
}
.header .nav .cont768 .cont768__red {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #DD1D1D;
  color: #FFFFFF;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 10px;
  gap: 60px;
}
.header .nav .cont768 .cont768__red .child1 img {
  opacity: 0;
}
.header .nav .cont768 .cont768__red .child2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
}
.header .nav .menu-list {
  display: flex;
  gap: 35px;
  list-style: none;
}
.header .nav .menu-list li {
  padding: 0px 5px;
}
.header .nav .menu-list a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
}
.header .nav .menu-list a:hover {
  opacity: 75%;
}

.main {
  width: 100%;
  max-width: 1120px;
  min-height: 1100px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 120px;
}
.main .main-item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.main .main-item .pic {
  width: 480px;
  background-size: 100% 100%;
  border-radius: 10px;
  flex-shrink: 0;
}
.main .main-item .news .title1, .main .main-item .news .title2, .main .main-item .news .title3 {
  width: 395px;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  align-items: center;
}
.main .main-item .news .title1 .num, .main .main-item .news .title2 .num, .main .main-item .news .title3 .num {
  font-family: arial;
  font-size: 4.5rem;
  font-weight: 700;
  color: #f67600;
  padding-right: 10px;
}
.main .main-item .news .title1 span, .main .main-item .news .title2 span, .main .main-item .news .title3 span {
  color: #f67600;
}
.main .main-item .news .title1 {
  background-image: url("../img/back1_news.png");
  background-size: 375px 40px;
  background-position: 0 40px;
  background-repeat: no-repeat;
}
.main .main-item .news .title2 {
  background-image: url("../img/back2_news.png");
  background-size: 270px 40px;
  background-position: 0 40px;
  background-repeat: no-repeat;
}
.main .main-item .news .title3 {
  background-image: url("../img/back3_news.png");
  background-size: 280px 40px;
  background-position: 0 40px;
  background-repeat: no-repeat;
}
.main .main-item .news .content {
  white-space: normal;
  font-size: 1.1rem;
  line-height: 1.6rem;
}
.main .main-item .news .content span {
  color: #f67600;
}
.main .main-item .news .content p {
  color: #2C2C2C;
  display: inline;
}

.banner {
  width: 100%;
  max-width: 1360px;
  height: 300px;
  margin: auto;
  background-image: url("../img/pic_banner.png");
  border-radius: 20px;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px 0;
}
.banner p {
  color: #FFFFFF;
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 20px;
}
.banner span {
  color: orange;
  font-size: 25px;
  font-weight: 600;
}

.link {
  display: flex;
  width: 100%;
  max-width: 1120px;
  margin: auto;
  padding: 20px 0 40px 0;
}
.link span a {
  text-decoration: none;
  color: #f67600;
}
.link a {
  text-decoration: none;
  color: #606060;
}

.contact {
  padding: 200px 0;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("../img/back_cont.png");
}
.contact .cont-d1 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
}
.contact .cont-d1 .group-1, .contact .cont-d1 .group-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact .cont-d1 input {
  background-color: #FFFFFF;
  height: 50px;
  font-size: 1.5rem;
  color: #000000;
  font-weight: 900;
  border-radius: 10px;
  padding: 15px 20px;
  line-height: 20px;
  border: #FFFFFF;
}
.contact .cont-d1 p {
  color: #FFFFFF;
  font-size: 1.1rem;
  font-weight: bold;
}
.contact .cont-d2 {
  display: flex;
  align-items: center;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
  color: #FFFFFF;
  text-decoration: none;
}
.contact .cont-d2 span {
  font-size: 3.5rem;
  font-weight: 700;
}
.contact .cont-d2 p {
  transform: translateY(-20px);
}
.contact .cont-d3 {
  display: flex;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
}
.contact .cont-d3 .cont-d3__org {
  width: 453px;
  display: flex;
  justify-content: space-between;
  background-color: #f67600;
  color: #FFFFFF;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 10px;
  gap: 60px;
}
.contact .cont-d3 .cont-d3__org .child1 img {
  opacity: 0;
}
.contact .cont-d3 .cont-d3__org .child2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
}
.contact .cont-d3 .cont-d3__red {
  width: 453px;
  display: flex;
  justify-content: space-between;
  background-color: #DD1D1D;
  color: #FFFFFF;
  align-items: center;
  border-radius: 50px;
  text-decoration: none;
  padding: 20px 10px;
  gap: 60px;
}
.contact .cont-d3 .cont-d3__red .child1 img {
  opacity: 0;
}
.contact .cont-d3 .cont-d3__red .child2 {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
  gap: 10px;
  letter-spacing: 2px;
}

footer {
  background-color: #2C2C2C;
  color: #FFFFFF;
  padding: 20px 0;
  text-align: center;
  line-height: 2rem;
  margin: 0 auto;
}
footer .footer-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
footer .footer-img img {
  max-width: 358px;
  height: 47px;
  margin: 30px;
}
footer span {
  color: #f67600;
  font-family: Oswald;
  font-weight: bold;
  font-size: 1.3rem;
}
footer .footer__d2 {
  width: 850px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  gap: 40px;
}
footer .footer__d2 .footer__d2--item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .footer__d2 .footer__d2--item .text-gr {
  display: flex;
  gap: 10px;
}
footer .footer__d2 .footer__d2--item .text-gr .bold {
  font-weight: bold;
  white-space: nowrap;
}
footer .footer__d3 {
  display: flex;
  justify-content: center;
  gap: 55px;
  padding-top: 20px;
}
footer .footer__d3 ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: left;
}
footer .footer__d3 ul li {
  flex-shrink: 0;
  padding: 0px 5px;
}
footer .footer__d3 ul a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 500;
}
footer .footer__d3 ul a:hover {
  opacity: 70%;
}
footer .footer__copy {
  text-align: center;
  padding: 30px;
  color: #969696;
}

.contact2 {
  position: fixed;
  top: 35%;
  right: -60px;
  transform: translateX(-50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact2 a {
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact2 .cont2-org, .contact2 .cont2-red {
  color: #FFFFFF;
  border-radius: 20px 0 0 20px;
  padding: 10px;
  gap: 5px;
}
.contact2 .cont2-org:hover, .contact2 .cont2-red:hover {
  opacity: 70%;
}
.contact2 .cont2-org p, .contact2 .cont2-red p {
  padding: 0 7px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
  background-color: #FFE344;
  color: #000000;
}
.contact2 .cont2-org {
  background-color: #f67600;
}
.contact2 .cont2-red {
  background-color: #DD1D1D;
}

@media screen and (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
  .banner .br375 {
    display: none;
  }
  .width768 {
    display: none;
  }
  .pic768 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  body {
    max-width: 768px;
    width: 100%;
  }
  .header {
    gap: 0 !important;
    max-width: 768px;
    width: 100%;
  }
  .header .above img {
    width: 201px;
    height: 26px;
  }
  .header .above .width768 {
    display: flex;
    gap: 40px;
  }
  .header .above .width768 .phone768 {
    width: 24px;
    height: 24px;
  }
  .header .above .width768 .menu-toggle {
    display: block;
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    text-align: center;
    transform: translateY(-10px);
  }
  .contact1 {
    display: none !important;
  }
  .banner {
    width: 90%;
  }
  .banner .br375 {
    display: none;
  }
  .link {
    padding-left: 20px;
  }
  .contact2 {
    display: none;
  }
  .menu-open .nav .cont768 {
    display: block !important;
    transform-origin: top left;
    padding-bottom: 40px;
  }
  .menu-open .page-content {
    display: none;
  }
  .menu-list {
    display: none !important;
    background-color: #FFFFFF;
  }
  .menu-open .menu-list {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 0 !important;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 768px;
  }
  .menu-open .menu-list li {
    width: 100%;
    max-width: 384px;
    border: 1px solid #cccccc;
    box-sizing: border-box;
    padding: 30px 130px !important;
    white-space: nowrap;
    margin: 0;
  }
  .menu-list a {
    text-decoration: none;
    color: #000;
  }
  .main-item {
    display: flex;
    flex-direction: column;
  }
  .main-item .pic {
    display: none;
  }
  .main-item .pic768 {
    width: 90%;
    margin: auto;
    padding: 20px 0;
    border-radius: 20px;
  }
  .main-item .pic768 img {
    width: 100%;
  }
  .main-item .news {
    flex-direction: column;
    gap: 0;
  }
  .main-item .news .title1, .main-item .news .title2, .main-item .news .title3 {
    flex-direction: column;
    display: flex;
    background: url(../img/back1_news.png) no-repeat center bottom/75% !important;
    padding-bottom: 18px;
    gap: 0;
    margin: 0 auto;
  }
  .main-item .news .content {
    width: 90%;
    margin: auto;
    line-height: 1.8rem;
  }
  .contact {
    flex-direction: column;
    padding: 300px 0;
  }
  .contact .cont-d1 {
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
  }
  .contact .cont-d1 .group-1, .contact .cont-d1 .group-2 {
    justify-content: center;
    width: 700px;
  }
  .contact .cont-d2 {
    display: block;
    width: 700px;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }
  .contact .cont-d2 p {
    padding: 20px 0;
  }
  .contact .cont-d2 .line-break {
    display: none;
  }
  .contact .cont-d3 {
    flex-direction: column;
  }
  footer .footer__d2 {
    display: block;
    max-width: 768px;
    width: 100%;
    gap: 10px;
  }
  footer .footer__d2 .footer__d2--item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
  }
  footer .footer__d2 .footer__d2--item .text-gr {
    display: block;
    margin-left: -350px;
    margin-bottom: 20px;
  }
  footer .footer__d2 .footer__d2--item img {
    width: 90%;
  }
  footer .footer__d3 {
    display: none;
  }
}
@media screen and (max-width: 376px) {
  .banner {
    height: 148px;
    line-height: 1.1rem;
  }
  .banner p {
    font-size: 25px !important;
    transform: translateY(-40px);
  }
  .banner span {
    font-size: 25px !important;
    transform: translateY(-40px);
    font-weight: 400 !important;
  }
  .banner .br375 {
    display: block !important;
  }
  .main .pic768 {
    width: 90%;
  }
  .contact .cont-d1 {
    width: 100%;
  }
  .contact .cont-d1 .group-1 input {
    font-size: 1.2rem !important;
    padding: 5px 10px !important;
  }
  .contact .cont-d2 {
    transform: translate(-350px, -50px);
  }
  .contact .cont-d2 .num {
    font-size: 2.5rem;
  }
  .contact .cont-d2 p {
    font-size: 0.7rem;
  }
  .contact .cont-d3 {
    width: 100%;
  }
  .contact .cont-d3 .cont-d3__org {
    width: 90%;
    padding: 5 10px;
    gap: 10px !important;
  }
  .contact .cont-d3 .cont-d3__org span {
    font-size: 1rem;
  }
  .contact .cont-d3 .cont-d3__red {
    width: 90%;
    padding: 5 10px;
    gap: 10px !important;
  }
}/*# sourceMappingURL=style.css.map */