@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
.top_banner {
  height: 490px;
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/pic_banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
}

.slide1 {
  display: flex;
  width: 100%;
  padding: 49px 0;
  max-width: 1280px;
  position: relative;
  margin: 0 auto;
}
.slide1 .btn-slide {
  position: absolute;
  transform: translateY(45%);
  z-index: 1;
}
.slide1 .btn-slide.next {
  right: 1rem;
}
.slide1 .btn-slide.next img {
  transform: rotate(0deg);
}
.slide1 .btn-slide.prev {
  left: 1rem;
}
.slide1 .btn-slide.prev img {
  transform: rotate(0deg);
}
.slide1 .slide {
  display: flex;
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
}
.slide1 .slide .item-slide .image img {
  width: 100%;
  border-radius: 16px;
}
.slide1 .slick-slide {
  margin: 0 10px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 96px;
}
.main .reason {
  padding: 80px 0;
  background-color: #FEF8E9;
  border-radius: 24px;
  max-width: 1360px;
  width: 100%;
  margin: 0 auto;
}
.main .reason .title {
  padding-bottom: 64px;
}
.main .reason .reason_content {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main .reason .reason_content .content {
  display: flex;
  gap: 24px;
}
.main .reason .reason_content .content .item {
  position: relative;
  background-color: #FFFFFF;
  border-radius: 16px;
  padding: 48px 24px 32px 24px;
}
.main .reason .reason_content .content .item::before {
  content: attr(data-number);
  position: absolute;
  top: -36px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 48px;
  font-family: "Oswald", serif;
  font-weight: 500;
  color: #F67600;
}
.main .reason .reason_content .content .item .item_title {
  display: flex;
  font-size: 20px;
  justify-content: center;
  font-weight: 700;
  padding-bottom: 32px;
}
.main .reason .reason_content .content .item .item_title span {
  color: #F67600;
}
.main .reason .reason_content .content .item .item_gr {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.main .reason .reason_content .content .item .item_gr .pic img {
  width: 309px;
}
.main .works {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.main .title {
  text-align: center;
}
.main .title .gray {
  font-size: 16px;
  font-weight: 700;
  color: #606060;
  line-height: 19.2px;
  padding-bottom: 8px;
}
.main .title .gray::before, .main .title .gray::after {
  content: "\\";
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  color: #606060;
}
.main .title .gray::after {
  content: "/";
}
.main .title .black {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  padding-bottom: 16px;
}
.main .title .orange {
  font-size: 20px;
  font-weight: 500;
  line-height: 29.6px;
  font-family: "Oswald", serif;
  color: #F67600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.main .title .orange::before, .main .title .orange::after {
  content: "";
  width: 12px;
  height: 2px;
  background-color: #F67600;
  flex-shrink: 0;
}

@media screen and (max-width: 768px) {
  .top_banner {
    width: 90%;
  }
  .slide .slide1 {
    width: 100%;
    overflow: hidden;
  }
  .slick-slide {
    margin: 0 58px !important;
  }
  .slick-slide img {
    margin: 0 104px;
  }
  .btn-slide.next {
    right: 9rem !important;
  }
  .btn-slide.prev {
    left: 10rem !important;
  }
  .main .reason {
    padding: 48px 20px;
  }
  .main .reason .reason_content .content {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .main .reason .reason_content .content .item {
    width: 90%;
    margin: auto;
  }
  .main .reason .reason_content .content .item::before {
    font-size: 40px;
    top: -31px;
  }
  .main .reason .reason_content .content .item .item_title {
    padding-bottom: 24px;
  }
  .main .reason .reason_content .content .item .item_gr .txt {
    font-size: 14px;
  }
  .main .reason .reason_content .content .item .item_gr .pic img {
    width: 100%;
  }
  .main .title {
    width: 90%;
    margin: auto;
    padding: 0 20px 12px 20px;
  }
  .main .title .gray {
    font-size: 14px;
  }
  .main .title .black {
    font-size: 30px;
  }
  .main .title .orange {
    font-size: 16px;
  }
  .main .s3_btn {
    width: var(--s3_btn-width, 18rem) !important;
  }
}
@media screen and (max-width: 375px) {
  .slick-slide {
    margin: 0 58px !important;
  }
  .slick-slide img {
    margin: 0 104px;
  }
  .btn-slide.next {
    right: 1rem !important;
  }
  .btn-slide.prev {
    left: 1rem !important;
  }
}/*# sourceMappingURL=top.css.map */