@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

$font-noto: "Noto Sans JP", serif;
$font-dm: "DM Serif Text", serif;
$font-os: "Oswald", serif;

// Banner
.top_banner {
    height: 490px;
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/pic_banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    .pic1 {
        position: absolute;
        right: 30px;
        bottom: -3px;
        z-index: 1;
    }
    .group {
        padding: 0 0 0 55px;
        z-index: 2;
        flex: 1;
        .txt {
            color: #FFFFFF;
            font-size: 32px;
            font-weight: 900;
            .br{
                display: none;
            }
        }
        .pic3 img {
            margin-left: -40px;
        }
        .pic4 {
            max-width: 522px;
            display: flex;
            justify-content: space-between;
            .pic41 {
                position: relative;
                text-align: center;
                color: #FFFFFF;
                font-weight: 700;
                background-size: 162px 162px;
                .gr {
                    .p20 {
                        font-size: 20.25px;
                    }
                    .p26 {
                        font-size: 26.04px;
                    }
                    .p34 {
                        font-size: 34.71px;
                    }
                }
                @for $i from 1 through 3 {
                    .gr#{$i} {
                        position: absolute;
                    }
                }
                .gr1 {
                    top: 15%;
                    left: 30%;
                }
                .gr2 {
                    top: 21%;
                    left: 20%;
                }
                .gr3 {
                    top: 16%;
                    left: 18%;
                }
            }
        }
    }
}


// Slider1
.slide1{
    display: flex;
    width: 100%;
    padding: 49px 0;
    max-width: 1280px;
    position: relative;
    margin: 0 auto;
    .btn-slide{
        position: absolute;
        transform: translateY(45%);
        z-index: 1;
        &.next{
            right: 1rem;
            img{
                transform: rotate(0deg);
                cursor: pointer;
            }
        }
        &.prev{
            left: 1rem;
            img{
                transform: rotate(0deg);
                cursor: pointer;
            }
        }
    }
    .slide{
        display: flex;
        max-width: 1120px;
        margin: 0 auto;
        width: 100%;
        overflow: hidden;
        .item-slide{
            .image{
                img{
                    width: 100%;
                    border-radius: 16px;
                }
            }
        }
    }
    
}
//Main
.main{
    gap: 96px !important;
    .reason{
        padding: 80px 0;
        background-color: #FEF8E9;
        border-radius: 24px;
        max-width: 1360px;
        width: 100%;
        //gap: 64px;
        margin: 0 auto;
        .title{
            padding-bottom: 64px;
        }
        .reason_content{
            max-width: 1120px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 40px;
            .content{
                display: flex;
                gap: 24px;
                .item{
                    position: relative;
                    background-color: #FFFFFF;
                    border-radius: 16px;
                    padding: 48px 24px 32px 24px;
                    &::before {
                        content: attr(data-number); // Lấy số từ data-number
                        position: absolute;
                        top: -36px;
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: 48px;
                        font-family: $font-os;
                        font-weight: 500;
                        color: #F67600;
                    }
                    .item_title{
                        display: flex;
                        font-size: 20px;
                        justify-content: center;
                        font-weight: 700;
                        padding-bottom: 32px;
                        span{
                            color: #F67600;
                        }
                    }
                    .item_gr{
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        .pic img{
                            width: 309px;
                        }
                    }
                }
            }
        }
    }
    .menupage{
        width: 100vw;
        max-width: unset;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background-color: #FDE3CC;
        padding: 80px 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
        .menu_content{
            display: flex;
            flex-direction: column;
            gap: 56px;
            .list1 .title_child, .list2 .title_child{
                max-width: 1120px;
                width: 100%;
                margin: auto;
                text-align: center;
                font-size: 32px;
                font-weight: 700;
                display: flex;
                align-items: center;
                position: relative;
                &::before,
                &::after {
                    content: "";
                    flex: 1;
                    border-top: 3px dashed black;
                    margin: 0 10px;
                }
                .above{
                    //display: block;
                    p{
                        color: #606060;
                        font-size: 16px;
                        font-weight: 700;
                        &::before,
                        &::after {
                            content: "\005C";
                            font-size: 18px;
                            font-weight: bold;
                            margin: 0 10px;
                            color: #606060;
                        }
    
                        &::after {
                            content: "\002F";
                        }
                    }
                    span{
                        color: #F67600;
                    }
                }
            }
            .list1{
                display: flex;
                flex-direction: column;
                max-width: 1120px;
                width: 100%;
                margin: auto;
                .title_child{
                    .above{
                        .br{
                            display: none;
                        }
                    }
                }
                .tab1{
                    display: flex;
                    text-align: center;
                    justify-content: space-between;
                    padding: 48px 0 32px 0;
                    .item{
                        background-color: #FFFFFF;
                        padding: 40px 24px 32px 24px;
                        display: flex;
                        flex-direction: column;
                        border-radius: 16px;
                        gap: 16px;
                        .ttl{
                            font-size: 40px;
                            font-weight: 700;
                        }
                        .t1{
                            color: #53B328;
                            display: block;
                            position: relative;
                            &::before {
                                content: "地域最安値を目指す";
                                position: absolute;
                                top: -65px;
                                left: 50%;
                                transform: translateX(-50%);
                                border-radius: 99px;
                                padding: 8px 16px 11px 16px;
                                background-color: #FFF09F;
                                border: 2px solid #000000;
                                font-size: 18px;
                                font-weight: 700;
                                white-space: nowrap;
                                color: #000000;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                bottom: 66px;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0;
                                height: 0;
                                border-left: 8px solid transparent;
                                border-right: 8px solid transparent;
                                border-top: 10px solid black; /* Màu viền */
                            }
                            span{
                                content: "";
                                position: absolute;
                                bottom: 69px; /* Đưa xuống dưới */
                                left: 50%;
                                z-index: 1;
                                transform: translateX(-50%);
                                width: 0;
                                height: 0;
                                border-left: 8px solid transparent;
                                border-right: 8px solid transparent;
                                border-top: 10px solid #FFF09F; /* Màu nền vàng */
                            }
                        }
                        .t2{
                            color: #2585AD;
                            display: block;
                            position: relative;
                            &::before {
                                content: "アスベスト調査も";
                                position: absolute;
                                top: -65px;
                                left: 50%;
                                transform: translateX(-50%);
                                border-radius: 99px;
                                padding: 8px 16px 11px 16px;
                                background-color: #FFF09F;
                                border: 2px solid #000000;
                                font-size: 18px;
                                font-weight: 700;
                                white-space: nowrap;
                                color: #000000;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                bottom: 66px;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0;
                                height: 0;
                                border-left: 8px solid transparent;
                                border-right: 8px solid transparent;
                                border-top: 10px solid black; /* Màu viền */
                            }
                            span{
                                content: "";
                                position: absolute;
                                bottom: 69px; /* Đưa xuống dưới */
                                left: 50%;
                                z-index: 1;
                                transform: translateX(-50%);
                                width: 0;
                                height: 0;
                                border-left: 8px solid transparent;
                                border-right: 8px solid transparent;
                                border-top: 10px solid #FFF09F; /* Màu nền vàng */
                            }
                        }
                        .t3{
                            color: #A254B6;
                            display: block;
                            position: relative;
                            &::before {
                                content: "大きい建物もおまかせ";
                                position: absolute;
                                top: -65px;
                                left: 50%;
                                transform: translateX(-50%);
                                border-radius: 99px;
                                padding: 8px 16px 11px 16px;
                                background-color: #FFF09F;
                                border: 2px solid #000000;
                                font-size: 18px;
                                font-weight: 700;
                                white-space: nowrap;
                                color: #000000;
                            }
                            &::after {
                                content: "";
                                position: absolute;
                                bottom: 66px;
                                left: 50%;
                                transform: translateX(-50%);
                                width: 0;
                                height: 0;
                                border-left: 8px solid transparent;
                                border-right: 8px solid transparent;
                                border-top: 10px solid black; /* Màu viền */
                            }
                            span{
                                content: "";
                                position: absolute;
                                bottom: 69px; /* Đưa xuống dưới */
                                left: 50%;
                                z-index: 1;
                                transform: translateX(-50%);
                                width: 0;
                                height: 0;
                                border-left: 8px solid transparent;
                                border-right: 8px solid transparent;
                                border-top: 10px solid #FFF09F; /* Màu nền vàng */
                            }
                        }
                        .pic img{
                            width: 100%;
                        }
                        .price{
                            display: flex;
                            gap: 12px;
                            align-items: center;
                            margin: auto;
                            font-weight: 700;
                            color: #DD1D1D;
                            .pr1{
                                align-items: baseline;
                                display: flex;
                                font-size: 20px;
                                p{
                                    font-size: 14px;
                                }
                            }
                            .pr2{
                                display: flex;
                                align-items: center;
                                gap: 4px;
                                .pr21{
                                    font-weight: 600;
                                    font-size: 48px;
                                    font-family: $font-os;
                                }
                                .pr22{
                                    display: flex;
                                    flex-direction: column;
                                    text-align: left;
                                    color: #000000;
                                    span{
                                        font-weight: 500;
                                        font-size: 12px;
                                    }
                                    p{
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                        .txt{
                            font-weight: 400;
                            color: #606060;
                            font-size: 12px;
                        }
                        .btn{
                            width: 100%;
                            border-radius: 99px;
                            padding: 16px 24px 16px 40px;
                            align-items: center;
                            display: flex;
                            justify-content: center;
                            gap: 8px;
                            font-size: 15px;
                            font-weight: 700;
                            color: #FFFFFF;
                            text-decoration: none;
                        }
                        .btn1{
                            background-color: #53B328;
                        }
                        .btn2{
                            background-color: #2585AD;
                        }
                        .btn3{
                            background-color: #A254B6;
                        }
                    }
                }
                .tab2{
                    display: flex;
                    .l{
                        background-color: #F89840;
                        padding: 32px;
                        border-radius: 16px 0 0 16px;
                        text-align: center;
                        color: #FFFFFF;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 20px;
                        font-weight: 700;
                        white-space: nowrap;
                    }
                    .r{
                        background-color: #FFFFFF;
                        border-radius: 0 16px 16px 0;
                        line-height: 12px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 12px;
                        padding: 32px 30px;
                        p{
                            display: flex;
                            gap: 4px;
                            background-color: #FFF09F;
                            border-radius: 99px;
                            padding: 8px 16px;
                            justify-content: center;
                            align-items: center;
                            img{
                                width: 24px;
                                height: 24px;
                            }
                        }
                    }
                }
            }
            .list2{
                max-width: 1120px;
                width: 100%;
                margin: auto;
                display: flex;
                flex-direction: column;
                gap: 32px;
                .grid{
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 24px;
                    .item{
                        background-color: #FFFFFF;
                        border-radius: 16px;
                        padding: 12px 24px 24px 24px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        gap: 12px;
                        .i1{
                            font-size: 20px;
                            font-weight: 700;
                        }
                        .i3{
                            display: flex;
                            justify-content: center;
                            gap: 16px;
                            
                            .gr1{
                                display: flex;
                                gap: 4px;
                                align-items: center;
                                p{
                                    font-size: 40px;
                                    font-weight: 600;
                                    font-family: $font-os;
                                    color: #DD1D1D;
                                }
                                .above{
                                    display: flex;
                                    flex-direction: column;
                                    gap: 4px;
                                    span{
                                        font-size: 12px;
                                        font-weight: 500;
                                        text-align: left;
                                    }
                                    p{
                                        font-size: 16px;
                                        font-weight: 700;
                                        font-family: $font-noto;
                                        color: #000000;
                                    }
                                }
                            }
                            .gr2{
                                display: flex;
                                flex-direction: column;
                                p{
                                    font-size: 12px;
                                    font-weight: 400;
                                    text-align: left;
                                }
                                .above{
                                    display: flex;
                                    align-items: center;
                                    span{
                                        font-size: 24px;
                                        font-weight: 600;
                                        color: #2585AD;
                                    }
                                    p{
                                        font-size: 16px;
                                        font-weight: 700;
                                        font-family: $font-noto;
                                        color: #000000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .works{
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    .voice{
        border-radius: 24px;
        background-color: #FEF8E9;
        width: 90%;
        padding: 80px 0;
        margin: auto;
    }
    .staff{
        width: 90%;
        margin: auto;
    }
    .blog{
        width: 90%;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        gap: 40px;
        background-color: #FEF8E9;
        border-radius: 24px;
        padding: 80px 0;
        .blog_content{
            max-width: 1120px;
            width: 80%;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            gap: 24px;
            .item{
                display: flex;
                margin: 0 auto;
                align-items: center;
                gap: 32px;
                .pic{
                    width: 300px;
                    height: 200px;
                    border-radius: 16px;
                    background-color: #D9D9D9;
                }
                .gr_txt{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    font-size: 14px;
                    font-weight: 400;
                    .txt1{
                        display: flex;
                        align-items: center;
                        color: #777777;
                        gap: 16px;
                        a{
                            text-decoration: none;
                            color: #F67600;
                            border: 1px solid #F67600;
                            border-radius: 48px;
                            font-size: 11px;
                            font-weight: 500;
                            padding: 6px 12px;
                        }
                    }
                    .txt2{
                        font-size: 18px;
                        font-weight: 700;
                        color: #F67600;
                    }
                }
            }
        }
    }
    .show1{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .show1_ctn1{
            display: flex;
            flex-direction: row;
            gap: 48px;
            align-items: center;
            margin: 0 0 0 auto;
            .txt{
                width: 548px;
                font-size: 15px;
                font-weight: 400;
                order: 1;
                span{
                    color: #F67600;
                }
            }
            .pic{
                order: 2;
            }
        }
        .show1_ctn2{
            display: flex;
            max-width: 1120px;
            width: 100%;
            margin: 0 auto;
            gap: 24px;
            .item{
                background-color: #FEF8E9;
                padding: 24px;
                align-items: center;
                border-radius: 24px;
                display: flex;
                gap: 24px; 
                .gr_txt{
                    font-size: 15px;
                    font-weight: 400;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    .bold{
                        font-size: 18px;
                        font-weight: 700;
                    }
                    .color{
                        color: #F67600;
                        align-items: center;
                        img{
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
    }
    .show2{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 40px;
        background-color: #FEF8E9;
        border-radius: 24px;
        padding: 80px 0;
        .show2_content{
            width: 80%;
            margin: 0 auto;
            display: flex;
            gap: 40px;
            .pic img{
                border-radius: 16px;
                background-color: #D9D9D9;
            }
            .txt{
                gap: 16px;
                display: flex
                ;
                    flex-direction: column;
                font-size: 15px;
                font-weight: 400;
                p{
                    text-align: right;
                }
            }
        }
    }
    .title{
        text-align: center;
        .gray{
            font-size: 16px;
            font-weight: 700;
            color: #606060;
            line-height: 19.2px;
            padding-bottom: 8px;
            &::before,
            &::after {
                content: "\005C";
                font-size: 18px;
                font-weight: bold;
                margin: 0 10px;
                color: #606060;
            }

            &::after {
                content: "\002F";
            }
        }
        .black{
            font-size: 40px;
            font-weight: 700;
            line-height: 52px;
            padding-bottom: 16px;
        }
        .orange {
            font-size: 20px;
            font-weight: 500;
            line-height: 29.6px;
            font-family: $font-os;
            color: #F67600;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
        
            &::before,
            &::after {
                content: "";
                width: 12px; 
                height: 2px; 
                background-color: #F67600;
                flex-shrink: 0;
            }
        }
    }
}

//SP màn 768
@media screen and (max-width: 768px){
    .top_banner{
        width: 90%;
        height: 920px;
        display: flex;
        flex-direction: column;
        .group{
            transform: scale(1.9) translateY(200px);
            margin-top: 50px;
            padding: 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            .txt{
                text-align: center;
                font-size: 20px;
                .br{
                    display: block;
                }
            }
            .pic2 img{
                width: 200px;
            }
            .pic3 img{
                width: 343px;
                margin-left: 0;
            }
            .pic4{
                justify-content: unset;
                gap: 6px;
                .gr {
                    .p20 {
                        font-size: 12px !important;
                    }
                    .p26 {
                        font-size: 15px !important;
                    }
                    .p34 {
                        font-size: 20px !important;
                    }
                }
                .pic41 img{
                    width: 100px;
                }
            }
        }
        .pic1{
            width: 90%;
            display: flex;
            img{
                width: 100%;
            }
        }
    }
    .slide1{
        width: 100%;
        padding: 26.7px 0;
        .slick-slide{
            transform: scale(0.8);
        }
        
        
    }
    .main{
        .reason{
            padding: 48px 0px;
            .reason_content{
                .content{
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    .item{
                        width: 90%;
                        margin: auto;
                        &::before {
                            font-size: 40px;
                            top: -31px;
                        }
                        .item_title{
                            padding-bottom: 24px;
                        }
                        .item_gr{
                            .txt{
                                font-size: 14px;
                            }
                            .pic img{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .menupage{
            gap: 32px;
            padding: 48px 0;
            .menu_content{
                .title_child{
                    width: 90% !important;
                    font-size: 24px !important;
                    .above{
                        .br{display: block !important;}
                        p{
                            font-size: 14px !important;
                        }
                    }
                }
                .list1{
                    .tab1{
                        width: 90%;
                        margin: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 40px;
                    }
                    .tab2{
                        display: block;
                        width: 90%;
                        margin: auto;
                        .l{
                            border-radius: 16px 16px 0 0;
                            font-size: 16px;
                            .br{
                                display: none;
                            }
                        }
                        .r{
                            padding: 20px 16px;
                            border-radius: 0 0 16px 16px;
                        }
                    }
                }
                .list2{
                    .grid{
                        width: 90%;
                        margin: auto;
                        grid-template-columns: repeat(2, 1fr);
                        
                    }
                }
            }
        }
        .blog{
            padding: 48px 0px;
            gap: 32px;
            .blog_content{
                width: 90%;
                .item{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    .gr_txt{
                        width: 100%;
                        gap: 8px;
                        .txt1{
                            gap: 16px;
                        }
                        .txt2 {
                            color: #F67600;
                            font-size: 15px;
                            text-align: left;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .txt3 {
                            font-size: 13px;
                            color: #333333;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            .br{
                                display: none;
                            }
                        }
                    }
                    .pic{
                        width: 100%;
                    }
                }
            }
        }
        .show1{
            width: 100%;
            .show1_ctn1{
                flex-direction: column;
                width: 100%;
                .txt{
                    width: 90%;
                }
                .pic{
                    order: -1;
                    img{
                        width: 100%;
                        border-radius: 16px;
                    }
                }
            }
            .show1_ctn2{
                display: flex;
                flex-direction: column;
                gap: 12px;
                .item{
                    margin: auto;
                    width: 700px;
                    .gr_txt{
                        .bold{
                            font-size: 15px;
                            font-weight: 700;
                        }
                        .lowercase{
                            font-size: 13px;
                            font-weight: 400;
                        }
                        .color{
                            font-size: 14px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .show2{
            padding: 48px 0px;
            gap: 32px;
            .show2_content{
                width: 90%;
                display: flex;
                flex-direction: column;
                gap: 24px;
                .pic img{
                    width: 100%;
                }
                .txt p{
                    text-align: left;
                }
            }
        }
        .title{
            width: 90%;
            margin: auto;
            padding: 0 20px 12px 20px;
            .gray{
                font-size: 14px;
            }
            .black{
                font-size: 30px;
            }
            .orange{
                font-size: 16px;
            }
        }
        .s3_btn{
            width: var(--s3_btn-width, 18rem) !important;
        }
    }
}

//SP màn 375
@media screen and (max-width: 376px){
    .top_banner{
        height: 460px;
        .group{
            transform: scale(0.9);
            margin-top: 10px;
        }
        .pic1{
            width: 90%;
            display: flex;
            right: 17px;
        }
    }
    .slide1{
        .slide{
            .slide_item{
                img{
                    margin-left: 8px;
                }
            }
        }
    }
    .main{
        .show1{
            .show1_ctn2{
                .item{
                    width: unset;
                    .gr_txt{
                        .color{white-space: nowrap;}
                    }
                    .pic{
                        img{
                            width: 124px;
                            height: 124px;
                        }
                    }
                }
            }
        }
        .menupage{
            .menu_content{
                .list2{
                    .grid{
                        .item{
                            width: 160px;
                            padding: 12px 16px 20px 16px;
                            .i1{font-size: 16px;}
                            .i2 img{width: 100%;}
                            .i3{
                                white-space: nowrap;
                                gap: 8px;
                                transform: scale(0.8);
                                .gr1{
                                    p{
                                        font-size: 32px;
                                        .above{
                                            font-size: 10px;
                                            p{font-size: 13px;}
                                        }
                                    }
                                }
                                .gr2{
                                    p{
                                        font-size: 10px;
                                    }
                                    .above{
                                        span{font-size: 16px;}
                                        p{font-size: 11px;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}