@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

$font-noto: "Noto Sans JP", serif;
$font-dm: "DM Serif Text", serif;
$font-os: "Oswald", serif;

.main{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-bottom: 120px;
    .works_s1{
        max-width: 1120px;
        width: 100%;
        margin: 0 auto;
        .tab {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 24px;
            border-bottom: 8px solid #F67600 ;
            button {
                display: flex;
                width: 100%;
                height: 80px;
                border: none;
                border-radius: 20px 20px 0 0;
                justify-content: center;
                padding: 20px 16px;
                font-family: $font-os;
                outline: none;
                font-size: 20px;
                align-items: center;
                font-weight: 600;
                cursor: pointer;
                transition: 0.5s;
                img{
                    color: #F67600;
                    padding: 12px;
                }
                &::before {
                    content: "";
                    width: 10px;
                    height: 10px;
                    margin-left: auto;
                }
                &::after {
                    content: "";
                    width: 10px;
                    height: 10px;
                    border-right: 2px solid #F67600;
                    border-bottom: 2px solid #F67600;
                    display: inline-block;
                    transform: rotate(45deg);
                    transition: transform 0.3s;
                    margin-left: auto;
                }
            }
        }
        .tab button:hover {
            opacity: 1;
        }
        .tab button.active {
            background-color: #F67600;
            color: #FFFFFF;
            // img{
            //     color: #FFFFFF;
            // }
            &::after {
                border-right: 2px solid #FFFFFF; /* Khi active, đổi màu thành trắng */
                border-bottom: 2px solid #FFFFFF;
            }
        }

        .tabcontent {  //tab1,2
            display: none;
            //padding: 20px;
            .btn {
                border-radius: 99px;
                border: 1px solid #CCCCCC;
                padding: 8px 16px;
                cursor: pointer;
                margin: 24px 6px;
                transition: 0.5s;
                &::after {
                    content: "";
                    width: 7px;
                    height: 7px;
                    border-right: 2px solid #F67600;
                    border-bottom: 2px solid #F67600;
                    display: inline-block;
                    transform: rotate(-45deg);
                    transition: transform 0.3s;
                    margin-left: 10px;
                }
            }

            .btn.active {
                background-color: #606060;
                color: white;
                &::after {
                    display: none;
                }
            }
        }
        .items {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 24px;
        
        
        .item {
            border-radius: 16px;
            background-color: #FEF8E9;
        }
        
        .item:hover {
            opacity: 1;
        }
        
        .pic img {
            width: 100%;
            height: auto;
            border-radius: 16px 16px 0 0;
        }
        
        .txt {
            padding: 16px 20px 24px 20px;
            display: flex;
            flex-direction: column;
            gap: 12px;
        }
        
        .t1 {
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            color: #F67600;
        }
        
        .t2 {
            font-size: 13px;
            font-weight: 400;
        }
        }
        //chưa ẩn nd tab2
    }
    .s2{
        max-width: 1120px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 48px;
        .s2_title{
            text-align: center;
            p{
                position: relative;
                color: #F67600;
                padding-bottom: 16px;
                font-size: 32px;
                font-weight: 700;
                &::after{
                    content: "";
                    position: absolute;
                    width: 4rem;
                    height: 0.2rem;
                    background-color: #F67600;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .s2_content{
            display: flex;
            gap: 40px;
            font-size: 15px;
            font-weight: 400;
            .pic{
                display: flex;
                flex-direction: column;
                gap: 16px;
                .pic_img{
                    width: 479px;
                    height: 320px;
                    border-radius: 16px;
                    background-color: #D9D9D9;
                }
            }
            .txt{
                
            }
        }
    }
    .s3{
        max-width: 1360px;
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        border-radius: 24px ;
        background-color: #FEF8E9;
        padding: 80px 0;
        gap: 40px;
        .s3_title{
            text-align: center;
            p{
                position: relative;
                color: #F67600;
                padding-bottom: 16px;
                font-size: 32px;
                font-weight: 700;
                &::after{
                    content: "";
                    position: absolute;
                    width: 4rem;
                    height: 0.2rem;
                    background-color: #F67600;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .s3_content{
            width: 90%;
            display: flex;
            margin: 0 auto;
            flex-direction: column;
            gap: 24px;
            .item{
                display: flex;
                margin: 0 auto;
                align-items: center;
                gap: 32px;
                .pic{
                    width: 300px;
                    height: 200px;
                    border-radius: 16px;
                    background-color: #D9D9D9;
                }
                .gr_txt{
                    display: flex;
                    flex-direction: column;
                    gap: 16px;
                    font-size: 14px;
                    font-weight: 400;
                    .txt1{
                        display: flex;
                        align-items: center;
                        color: #777777;
                        gap: 16px;
                        a{
                            text-decoration: none;
                            color: #F67600;
                            border: 1px solid #F67600;
                            border-radius: 48px;
                            font-size: 11px;
                            font-weight: 500;
                            padding: 6px 12px;
                        }
                    }
                    .txt2{
                        font-size: 18px;
                        font-weight: 700;
                        color: #F67600;
                    }
                }
            }
        }
        .s3_btn{
            width: var(--s3_btn-width, 20rem);
            display: inline-flex;
            white-space: nowrap;
            justify-content: center;
            text-decoration: none;
            background-color: #FFFFFF;
            margin: 0 auto;
            gap: 8px;
            border: 1px solid #000000;
            border-radius: 99px;
            padding: 24px 64px 24px 58px;
            gap: 8px;
            .txt{
                font-size: 15px;
                font-weight: 700;
                color: #000;
            }
        }
    }
    .s4{
        display: flex;
        flex-direction: column;
        gap: 40px;
        .s4_title{
            text-align: center;
            p{
                position: relative;
                color: #F67600;
                padding-bottom: 16px;
                font-size: 32px;
                font-weight: 700;
                &::after{
                    content: "";
                    position: absolute;
                    width: 4rem;
                    height: 0.2rem;
                    background-color: #F67600;
                    top: 100%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .s4_content{
            display: flex;
            gap: 32px;
            position: relative;
            max-width: 1280px;
            width: 100%;
            margin: 0 auto;
            .btn-slide{
                position: absolute;
                top: 45%;
                transform: translateY(-50%);
                z-index: 1;
                &.next{
                    right: 1rem;
                    img{
                        transform: rotate(0deg);
                    }
                }
                &.prev{
                    left: 1rem;
                    img{
                        transform: rotate(0deg);
                    }
                }
            }
            .slider{
                display: flex;
                max-width: 1120px;
                margin: 0 auto;
                width: 100%;
                overflow: hidden;
                .item-slide{
                    .image{
                        img{
                            width: 100%;
                            border-radius: 16px;
                        }
                    }
                }
            }
            .slick-slide { margin: 0 10px; }
        }
        // .s3_btn{
        //     width: var(--s3_btn-width, 20rem);
        //     display: inline-flex;
        //     white-space: nowrap;
        //     justify-content: center;
        //     text-decoration: none;
        //     background-color: #FFFFFF;
        //     margin: 0 auto;
        //     gap: 8px;
        //     border: 1px solid #000000;
        //     border-radius: 99px;
        //     padding: 24px 64px 24px 58px;
        //     gap: 8px;
        //     .txt{
        //         font-size: 15px;
        //         font-weight: 700;
        //         color: #000;
        //     }
        // }
    }
    .s3_btn{
        width: var(--s3_btn-width, 20rem);
        display: inline-flex;
        white-space: nowrap;
        justify-content: center;
        text-decoration: none;
        background-color: #FFFFFF;
        margin: 0 auto;
        gap: 8px;
        border: 1px solid #000000;
        border-radius: 99px;
        padding: 24px 64px 24px 58px;
        gap: 8px;
        .txt{
            font-size: 15px;
            font-weight: 700;
            color: #000;
        }
    }
}

@media screen and (max-width: 768px){
    .main{
        gap: 48px;
        width: 90%;
        margin-bottom: 48px;
        .works_s1{
            .tab button{
                font-size: 15px;
            }
            .tabcontent{
                .btn{
                    margin: 20px 4px;
                    // &:last-child{
                    //     margin-top: 0 !important;
                    // }
                }
            }
            .items{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                row-gap: 12px;
                .item{
                    .txt{
                        .t1{
                            text-align: left;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        .s2{
            display: flex;
            flex-direction: column;
            gap: 32px;
            .s2_content{
                display: flex;
                flex-direction: column;
                gap: 40px;
                .pic{
                    .pic_img{
                        width: 100%;
                    }
                }
            }
        }
        .s3{
            gap: 32px;
            padding: 40px 0 40px 0;
            .s3_title{
                p{
                    font-size: 24px;
                }
            }
            .s3_content{
                .item{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 12px;
                    .gr_txt{
                        width: 100%;
                        gap: 8px;
                        .txt1{
                            gap: 16px;
                        }
                        .txt2 {
                            color: #F67600;
                            font-size: 15px;
                            text-align: left;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .txt3 {
                            font-size: 13px;
                            color: #333333;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            .br{
                                display: none;
                            }
                        }
                    }
                    .pic{
                        width: 100%;
                    }
                }
            }
            .s3_btn{
                padding: 16px 20px;
                width: var(--s3_btn-width, 13rem);
            }
        }
        .s4{
            .s4_title p{
                font-size: 24px;
            }
            .s4_content{
                 .slick-slide { 
                    //margin: 0 40px; 
                    transform: scale(0.7);
                }
        }
            .s3_btn{
                padding: 16px 20px;
                width: var(--s3_btn-width, 13rem);
            }
        }
    }
}

@media screen and (max-width: 376px){
    .main .works_s1 .tab button img{
        padding: 0;
    }
}