@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");
.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-bottom: 120px;
}
.main .s2 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.main .s2 .s2_title {
  text-align: center;
}
.main .s2 .s2_title p {
  position: relative;
  color: #F67600;
  padding-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
}
.main .s2 .s2_title p::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  background-color: #F67600;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.main .s2 .s2_content {
  display: flex;
  gap: 40px;
}
.main .s2 .s2_content .pic {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.main .s2 .s2_content .pic .pic_img {
  width: 479px;
  height: 320px;
  border-radius: 16px;
  background-color: #D9D9D9;
}
.main .s3 {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 24px;
  background-color: #FEF8E9;
  padding: 80px 0;
  gap: 40px;
}
.main .s3 .s3_title {
  text-align: center;
}
.main .s3 .s3_title p {
  position: relative;
  color: #F67600;
  padding-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
}
.main .s3 .s3_title p::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.2rem;
  background-color: #F67600;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.main .s3 .s3_content {
  width: 90%;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 24px;
}
.main .s3 .s3_content .item {
  display: flex;
  margin: 0 auto;
  align-items: center;
  gap: 32px;
}
.main .s3 .s3_content .item .pic {
  width: 300px;
  height: 200px;
  border-radius: 16px;
  background-color: #D9D9D9;
}
.main .s3 .s3_content .item .gr_txt {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 14px;
  font-weight: 400;
}
.main .s3 .s3_content .item .gr_txt .txt1 {
  display: flex;
  align-items: center;
  color: #777777;
  gap: 16px;
}
.main .s3 .s3_content .item .gr_txt .txt1 a {
  text-decoration: none;
  color: #F67600;
  border: 1px solid #F67600;
  border-radius: 48px;
  font-size: 11px;
  font-weight: 500;
  padding: 6px 12px;
}
.main .s3 .s3_content .item .gr_txt .txt2 {
  font-size: 18px;
  font-weight: 700;
  color: #F67600;
}
.main .s3 .s3_btn {
  width: var(--s3_btn-width, 20rem);
  display: inline-flex;
  white-space: nowrap;
  justify-content: center;
  text-decoration: none;
  background-color: #FFFFFF;
  margin: 0 auto;
  gap: 8px;
  border: 1px solid #000000;
  border-radius: 99px;
  padding: 24px 64px 24px 58px;
  gap: 8px;
}
.main .s3 .s3_btn .txt {
  font-size: 15px;
  font-weight: 700;
  color: #000;
}/*# sourceMappingURL=works.css.map */